In [2]:
import numpy as np

In [5]:
# Memory Management in numpy

In [6]:
x = np.array([1, 2, 3])

In [7]:
x.shape

(3,)

In [8]:
x = np.array([[1, 2], [3, 4]])

In [9]:
x.shape

(2, 2)

In [10]:
x.flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : False
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False

In [11]:
x[0]

array([1, 2])

In [12]:
x[0, 0]

1

In [13]:
x[0][0]

1

In [14]:
x.dtype

dtype('int32')

In [15]:
x.strides # (8, 4) -> means: for relocating between dimensions(rows) you have to jump 8 bytes and for moving forward in columns you have to jump 4 bytes

(8, 4)

In [16]:
y = np.random.rand(2, 3, 4)

In [17]:
y

array([[[0.32786753, 0.58186823, 0.67282297, 0.58967309],
        [0.25079152, 0.40079787, 0.58993408, 0.62120799],
        [0.13958301, 0.81171232, 0.03383139, 0.22564327]],

       [[0.688716  , 0.46247001, 0.91622889, 0.84389652],
        [0.63547055, 0.34713489, 0.35679328, 0.3115104 ],
        [0.47405084, 0.27702918, 0.73916668, 0.06758137]]])

In [18]:
y.strides

(96, 32, 8)

In [19]:
y.shape

(2, 3, 4)

In [20]:
c_array = np.random.rand(2, 3, 4)
fortran_array = np.asfortranarray(c_array)

In [33]:
print(
    c_array.strides
    ,'\n',
    fortran_array.strides
    ,'\n',
    c_array == fortran_array
)
print(c_array)
print(fortran_array)

(96, 32, 8)
 (8, 16, 48)
 [[[ True  True  True  True]
  [ True  True  True  True]
  [ True  True  True  True]]

 [[ True  True  True  True]
  [ True  True  True  True]
  [ True  True  True  True]]]
[[[0.67392346 0.27975914 0.08218809 0.42933062]
  [0.79619623 0.51924339 0.91677166 0.08390137]
  [0.27323639 0.77371775 0.81488363 0.72299162]]

 [[0.17320389 0.41963338 0.00171298 0.30057247]
  [0.48236198 0.71276354 0.31749991 0.2768147 ]
  [0.56003043 0.8521723  0.90920139 0.30854972]]]
[[[0.67392346 0.27975914 0.08218809 0.42933062]
  [0.79619623 0.51924339 0.91677166 0.08390137]
  [0.27323639 0.77371775 0.81488363 0.72299162]]

 [[0.17320389 0.41963338 0.00171298 0.30057247]
  [0.48236198 0.71276354 0.31749991 0.2768147 ]
  [0.56003043 0.8521723  0.90920139 0.30854972]]]

In [3]:
x = np.array([
    [1, 2],
    [5, 6]
])

In [31]:
# Row sum
np.sum(x[0, :])

10

In [32]:
# Column sum
np.sum(x[:, 0])

6

In [47]:
# First two rows and all (its) columns
y = x[:2, :] # It's a view (a perspective)
y

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [48]:
# Are these two array sharing the same memory
np.may_share_memory(x, y)

True

In [53]:
y = np.empty((2, 2)) # randomly fill
y[:] = x[:2, :]
np.may_share_memory(x, y)

False

In [58]:
xr = np.arange(10, dtype='int8')

In [59]:
xr.shape

(10,)

In [60]:
xr.shape = (2, 5)

In [61]:
xr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]], dtype=int8)

In [62]:
xr.reshape((5, 2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]], dtype=int8)

In [63]:
xr == xr

array([[ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True]])

In [64]:
(xr == xr).all()

True

In [72]:
x = np.ones((10000,))
y_temp = np.ones((10000*100,))
y = y_temp[::100]

In [68]:
x.strides

(8,)

In [69]:
y.strides

(800,)

In [70]:
np.may_share_memory(x, y)

False

In [71]:
(x == y).all()

True

In [73]:
np.may_share_memory(y_temp, y)

True

In [74]:
# Shapes and axes

In [77]:
np.array([1, 2, 3], dtype=np.int8)

array([1, 2, 3], dtype=int8)

In [40]:
x = np.random.randint(5, size=(3, 3))

In [36]:
x

array([[9, 9, 4],
       [1, 6, 7],
       [6, 7, 8]])

In [11]:
print(np.random.randint.__doc__[:222])

        randint(low, high=None, size=None, dtype=int)

        Return random integers from `low` (inclusive) to `high` (exclusive).

        Return random integers from the "discrete uniform" distribution of
        the s

In [30]:
x.max()

9

In [31]:
x.min()

1

In [32]:
x.mean()

4.444444444444445

In [33]:
x.max(axis=0) # maxes in 0 dimensions

array([6, 8, 9])

In [34]:
x.min(axis=1)

array([1, 2, 2])

In [70]:
x = np.random.randint(5, size=(2, 3, 4))
x

array([[[4, 4, 0, 2],
        [4, 0, 3, 2],
        [4, 4, 0, 3]],

       [[1, 1, 1, 2],
        [2, 0, 2, 0],
        [2, 4, 2, 4]]])

In [71]:
print(
    x.sum(axis=0), # First dimension
    '\n\n',
    x.sum(axis=1), # Second dimension
    '\n\n',
    x.sum(axis=2), # Third dimension
)

[[5 5 1 4]
 [6 0 5 2]
 [6 8 2 7]]

 [[12  8  3  7]
 [ 5  5  5  6]]

 [[10  9 11]
 [ 5  4 12]]

In [68]:
# x.shape = 2, 2, 3 # Inplace
# x.reshape(4, 3, 2) # Inplace or if couldn't makes a copy

In [72]:
x.T # Transpose -> will reverse "strides"

array([[[4, 1],
        [4, 2],
        [4, 2]],

       [[4, 1],
        [0, 0],
        [4, 4]],

       [[0, 1],
        [3, 2],
        [0, 2]],

       [[2, 2],
        [2, 0],
        [3, 4]]])

In [74]:
x = x.T
y = x.T
np.may_share_memory(x, y)

True

In [75]:
x

array([[[4, 1],
        [4, 2],
        [4, 2]],

       [[4, 1],
        [0, 0],
        [4, 4]],

       [[0, 1],
        [3, 2],
        [0, 2]],

       [[2, 2],
        [2, 0],
        [3, 4]]])

In [76]:
x.shape = 2, -1

AttributeError: Incompatible shape for in-place modification. Use `.reshape()` to make a copy with the desired shape.

In [77]:
x.reshape(2, -1) # -1 means find it out by yourself

array([[4, 1, 4, 2, 4, 2, 4, 1, 0, 0, 4, 4],
       [0, 1, 3, 2, 0, 2, 2, 2, 2, 0, 3, 4]])

In [78]:
x.flatten() # make it flat (cpies)

array([4, 1, 4, 2, 4, 2, 4, 1, 0, 0, 4, 4, 0, 1, 3, 2, 0, 2, 2, 2, 2, 0,
       3, 4])

In [79]:
x.ravel() # make it flat (faster than .flatten()) (in place calculates)

array([4, 1, 4, 2, 4, 2, 4, 1, 0, 0, 4, 4, 0, 1, 3, 2, 0, 2, 2, 2, 2, 0,
       3, 4])

In [81]:
np.may_share_memory(x.flatten(), x.ravel())

False

In [84]:
x.flat # is a generator and yields|

In [85]:
# Broadcasting

In [86]:
x = np.array([1, 2, 3])
x * 5

array([ 5, 10, 15])

In [87]:
x ** 2

array([1, 4, 9])

In [88]:
x * x

array([1, 4, 9])

In [89]:
np.full(3, 5) # three 5

array([5, 5, 5])

In [93]:
np.repeat(3, 5) # repeat 3 five times

array([3, 3, 3, 3, 3])

In [ ]:
"""
- Rules for broadcasting
    - equal dimensions
    - one of them is one dimension (not what you think!)
"""

In [103]:
x = np.random.randint(5, size=(3, 3))
x

array([[0, 4, 1],
       [3, 4, 4],
       [4, 1, 1]])

In [104]:
x * np.array([2])

array([[0, 8, 2],
       [6, 8, 8],
       [8, 2, 2]])

In [108]:
x * np.array([[1, 2, 3], [1, 2, 3], [1, 2, 3]])

array([[ 0,  8,  3],
       [ 3,  8, 12],
       [ 4,  2,  3]])

In [109]:
x * np.array([1, 2, 3]) # [1, 2, 3] will multiplied in each row

array([[ 0,  8,  3],
       [ 3,  8, 12],
       [ 4,  2,  3]])

In [ ]:
# Needs the dimension of the array you want to multiply in that array be like from the last dimension of that or plus one level higher, like
"""
2, 3, 4
can multiply with
a 4
or a 3, 4
or a 2, 3, 4
"""

In [111]:
# in brodcastings, matric can stretch

In [113]:
x = np.random.randint(9, size=(1, 9))
y = np.random.randint(9, size=(9, 1))

In [114]:
x

array([[8, 6, 1, 0, 1, 8, 6, 4, 0]])

In [115]:
y

array([[5],
       [5],
       [7],
       [2],
       [2],
       [2],
       [7],
       [2],
       [7]])

In [116]:
x * y

array([[40, 30,  5,  0,  5, 40, 30, 20,  0],
       [40, 30,  5,  0,  5, 40, 30, 20,  0],
       [56, 42,  7,  0,  7, 56, 42, 28,  0],
       [16, 12,  2,  0,  2, 16, 12,  8,  0],
       [16, 12,  2,  0,  2, 16, 12,  8,  0],
       [16, 12,  2,  0,  2, 16, 12,  8,  0],
       [56, 42,  7,  0,  7, 56, 42, 28,  0],
       [16, 12,  2,  0,  2, 16, 12,  8,  0],
       [56, 42,  7,  0,  7, 56, 42, 28,  0]])

In [117]:
x + y

array([[13, 11,  6,  5,  6, 13, 11,  9,  5],
       [13, 11,  6,  5,  6, 13, 11,  9,  5],
       [15, 13,  8,  7,  8, 15, 13, 11,  7],
       [10,  8,  3,  2,  3, 10,  8,  6,  2],
       [10,  8,  3,  2,  3, 10,  8,  6,  2],
       [10,  8,  3,  2,  3, 10,  8,  6,  2],
       [15, 13,  8,  7,  8, 15, 13, 11,  7],
       [10,  8,  3,  2,  3, 10,  8,  6,  2],
       [15, 13,  8,  7,  8, 15, 13, 11,  7]])

In [118]:
# Indexing-Slicing

In [119]:
x = np.random.randint(10, size=(3, 4))
x

array([[2, 4, 2, 3],
       [3, 2, 6, 5],
       [1, 3, 4, 3]])

In [120]:
x[0]

array([2, 4, 2, 3])

In [122]:
x[0][0]

2

In [128]:
x[0, :], (x[0, :] == x[0]).all()

(array([2, 4, 2, 3]), True)

In [124]:
x[:, 0]

array([2, 3, 1])

In [129]:
s = slice(2, 3, 4)
s

slice(2, 3, 4)

In [132]:
x[s]

array([[1, 3, 4, 3]])

In [133]:
x[slice(0, 2), :]

array([[2, 4, 2, 3],
       [3, 2, 6, 5]])

In [135]:
l = [1, 2, 3, 3]
l[:] is l

False

In [136]:
np.may_share_memory(x, x[slice(0, 2), :])

True

In [137]:
x[0] # Indexing

array([2, 4, 2, 3])

In [138]:
x[0:1] # Slicing

array([[2, 4, 2, 3]])

In [141]:
x[0].shape

(4,)

In [142]:
x[0:1].shape

(1, 4)

In [143]:
np.equal(x, x[::])

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [144]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 768F-38E6

 Directory of c:\Users\Amir\Desktop\Pytopia ML 2022\00-Practices

10/06/2023  09:46 PM    <DIR>          .
10/06/2023  09:45 PM    <DIR>          ..
10/08/2023  10:58 PM            34,428 3-numpy.ipynb
               1 File(s)         34,428 bytes
               2 Dir(s)  31,159,345,152 bytes free

In [145]:
x

array([[2, 4, 2, 3],
       [3, 2, 6, 5],
       [1, 3, 4, 3]])

In [146]:
x[0] = 0 # Broadcasting

In [147]:
x

array([[0, 0, 0, 0],
       [3, 2, 6, 5],
       [1, 3, 4, 3]])

In [148]:
x.ndim

2

In [151]:
x = np.random.randint(10, size=(3, 4, 3))
x

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[0, 1, 9],
        [5, 0, 1],
        [4, 7, 7],
        [7, 4, 3]],

       [[2, 4, 5],
        [2, 4, 6],
        [3, 5, 4],
        [1, 2, 6]]])

In [154]:
x[:, :2, :2] # All of it in first dimension, two of the second dimension and two of the third dimension

array([[[4, 0],
        [2, 9]],

       [[0, 1],
        [5, 0]],

       [[2, 4],
        [2, 4]]])

In [163]:
x[..., 0, :] # Ellipsis

array([[4, 0, 9],
       [0, 1, 9],
       [2, 4, 5]])

In [164]:
Ellipsis

Ellipsis

In [165]:
np.newaxis # Adds a new (one) dimension

In [166]:
x

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[0, 1, 9],
        [5, 0, 1],
        [4, 7, 7],
        [7, 4, 3]],

       [[2, 4, 5],
        [2, 4, 6],
        [3, 5, 4],
        [1, 2, 6]]])

In [171]:
x[np.newaxis, np.newaxis, ..., np.newaxis]

array([[[[[[4],
           [0],
           [9]],

          [[2],
           [9],
           [5]],

          [[1],
           [7],
           [8]],

          [[2],
           [8],
           [3]]],


         [[[0],
           [1],
           [9]],

          [[5],
           [0],
           [1]],

          [[4],
           [7],
           [7]],

          [[7],
           [4],
           [3]]],


         [[[2],
           [4],
           [5]],

          [[2],
           [4],
           [6]],

          [[3],
           [5],
           [4]],

          [[1],
           [2],
           [6]]]]]])

In [172]:
np.random.randint(10, size=(3, 3))[:, :, np.newaxis]

array([[[0],
        [5],
        [6]],

       [[7],
        [4],
        [3]],

       [[3],
        [0],
        [5]]])

In [174]:
np.arange(10)[:, np.newaxis] * np.arange(11)[np.newaxis, :]

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20],
       [ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30],
       [ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36, 40],
       [ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
       [ 0,  6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
       [ 0,  7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
       [ 0,  8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
       [ 0,  9, 18, 27, 36, 45, 54, 63, 72, 81, 90]])

In [176]:
x[0, 0, 0] == x[(0, 0, 0)]

True

In [178]:
s = (0 ,0, 0)
x[s] == x[0, 0, 0]

True

In [179]:
# Advanced indexing

In [180]:
x[[0, 0]]

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]]])

In [181]:
# Advanced indexing can be complex and it ALWAYS compies not VIEW

In [182]:
x[0, 0]

array([4, 0, 9])

In [183]:
x[(0, 0)]

array([4, 0, 9])

In [184]:
x

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[0, 1, 9],
        [5, 0, 1],
        [4, 7, 7],
        [7, 4, 3]],

       [[2, 4, 5],
        [2, 4, 6],
        [3, 5, 4],
        [1, 2, 6]]])

In [186]:
x[ [0, 1] ] # First and second elements of first dimension

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[0, 1, 9],
        [5, 0, 1],
        [4, 7, 7],
        [7, 4, 3]]])

In [188]:
x[ [0, 2] ] # First and third elements of ffirst dimension

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[2, 4, 5],
        [2, 4, 6],
        [3, 5, 4],
        [1, 2, 6]]])

In [189]:
x[ np.array([0, 2]) ]

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[2, 4, 5],
        [2, 4, 6],
        [3, 5, 4],
        [1, 2, 6]]])

In [191]:
x[ (0, 1), 2 ] # Also advanced

array([[1, 7, 8],
       [4, 7, 7]])

In [192]:
# Anything but [1, 2, 3] or [(1, 2, 3)] indexing is ADVANCED

In [194]:
x[ (0, 1), ] # First row and second row

array([[[4, 0, 9],
        [2, 9, 5],
        [1, 7, 8],
        [2, 8, 3]],

       [[0, 1, 9],
        [5, 0, 1],
        [4, 7, 7],
        [7, 4, 3]]])

In [195]:
# Mask/Masking

In [197]:
x = np.random.randint(10, size=(3, 3))
x

array([[2, 5, 8],
       [0, 5, 1],
       [5, 4, 9]])

In [200]:
mask = np.array([
    [True, False, False],
    [False, True, False],
    [False, False, True]
])
mask

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [202]:
x[mask] # Show only the True parts and it makes a COPY not VIEW

array([2, 5, 9])

In [203]:
x

array([[2, 5, 8],
       [0, 5, 1],
       [5, 4, 9]])

In [204]:
x[:, [True, False, True]] # Also Masking

array([[2, 8],
       [0, 1],
       [5, 9]])

In [205]:
np.isnan(x)

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [206]:
np.isnan(mask)

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [208]:
np.isnan(
    np.array([1, 2, 0, np.nan])
)

array([False, False, False,  True])

In [209]:
np.NaN

nan

In [210]:
np.nan

nan

In [211]:
~np.isnan(
    np.array([1, 2, 0, np.nan])
)

array([ True,  True,  True, False])

In [213]:
x > 3 # In which indices are greater than 3

array([[False,  True,  True],
       [False,  True, False],
       [ True,  True,  True]])

In [214]:
x[ x > 3 ]

array([5, 8, 5, 5, 4, 9])

In [215]:
x[ x < 3 ]

array([2, 0, 1])

In [216]:
x[ (x>3) & (x<7) ]

array([5, 5, 5, 4])

In [217]:
x[ np.isnan(x) ]

array([], dtype=int32)

In [218]:
x[ ~np.isnan(x) ]

array([2, 5, 8, 0, 5, 1, 5, 4, 9])

In [225]:
a = np.array([1, 2, 3, np.nan, np.nan, 0])
np.isnan(a).nonzero() # Indexes of those are NaN

(array([3, 4], dtype=int64),)

In [226]:
(~np.isnan(a)).nonzero() # Indexes of those are Not NaN

(array([0, 1, 2, 5], dtype=int64),)

In [227]:
a[ (~np.isnan(a)).nonzero() ]

array([1., 2., 3., 0.])

In [231]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [232]:
~np.arange(10)

array([ -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10])

In [233]:
~~np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [234]:
np.arange(10) == 5

array([False, False, False, False, False,  True, False, False, False,
       False])

In [235]:
np.arange(10)[np.arange(10)==6]

array([6])

In [236]:
# Order and Aggregate

In [249]:
x = np.random.randint(10, size=(2, 3))
x

array([[2, 8, 4],
       [5, 9, 1]])

In [239]:
x.T

array([[3, 1],
       [3, 4],
       [7, 4]])

In [240]:
x.transpose()

array([[3, 1],
       [3, 4],
       [7, 4]])

In [260]:
x

array([[2, 8, 4],
       [5, 9, 1]])

In [247]:
x.sort() # Inplace
x

array([[2, 5, 9],
       [0, 8, 8]])

In [261]:
np.sort(x, axis=0)

array([[2, 8, 1],
       [5, 9, 4]])

In [262]:
# axis = dimension
np.sort(x, axis=1)

array([[2, 4, 8],
       [1, 5, 9]])

In [263]:
a = np.random.randint(10, size=(2, 2))
b = np.random.randint(10, size=(2, 2))

In [266]:
a

array([[5, 5],
       [1, 3]])

In [267]:
b

array([[0, 4],
       [4, 8]])

In [268]:
np.concatenate((a, b))

array([[5, 5],
       [1, 3],
       [0, 4],
       [4, 8]])

In [269]:
np.concatenate((a, b), axis=0)

array([[5, 5],
       [1, 3],
       [0, 4],
       [4, 8]])

In [270]:
np.concatenate((a, b), axis=1)

array([[5, 5, 0, 4],
       [1, 3, 4, 8]])

In [271]:
np.concatenate((a, b, a))

array([[5, 5],
       [1, 3],
       [0, 4],
       [4, 8],
       [5, 5],
       [1, 3]])

In [272]:
# np.sort makes a copy

In [274]:
np.sort(a, axis=0)

array([[1, 3],
       [5, 5]])

In [275]:
np.sort(a, axis=1)

array([[5, 5],
       [1, 3]])

In [276]:
a

array([[5, 5],
       [1, 3]])

In [277]:
b

array([[0, 4],
       [4, 8]])

In [280]:
np.hstack((a, b)) # Horizontally stacked

array([[5, 5, 0, 4],
       [1, 3, 4, 8]])

In [282]:
np.vstack((a, b)) # Vertically stacked

array([[5, 5],
       [1, 3],
       [0, 4],
       [4, 8]])

In [283]:
np.std(a)

1.6583123951777

In [284]:
# More on data types

In [285]:
np.dtype

numpy.dtype

In [286]:
np.dtype('i1')

dtype('int8')

In [292]:
np.dtype('<i4')

dtype('int32')

In [293]:
np.dtype('>i4')

dtype('>i4')

In [295]:
np.dtype('i4').type

numpy.int32

In [296]:
np.dtype('i4').name

'int32'

In [297]:
np.unicode_

numpy.str_

In [298]:
# u3 means 3 unicode characters
# u10 means 10 unicode characters

In [300]:
# Custom data types

stdt = np.dtype([
    ('custom-datatype-name', np.unicode_, 10),
    ('grades-dt', np.float64, (2, 3)),
])

In [338]:
x = np.array([
    ('Sarah', (
        # 2x3
        (3, 4, 5),
        (6, 4, 8),
    )),
    ('Amir', (
        # 2x3
        (33, 44, 25),
        (62, 44, 83),
    )),
], dtype=stdt)

In [308]:
x['custom-datatype-name']

array(['Sarah', 'Amir'], dtype='<U10')

In [309]:
x['grades-dt']

array([[[ 3.,  4.,  5.],
        [ 6.,  4.,  8.]],

       [[33., 44., 25.],
        [62., 44., 83.]]])

In [310]:
x['custom-datatype-name'][0]

'Sarah'

In [311]:
x[0]

('Sarah', [[3., 4., 5.], [6., 4., 8.]])

In [312]:
type(x)

numpy.ndarray

In [313]:
type(x[0])

numpy.void

In [324]:
abc = np.array(['A', 'B', 'C'])

In [325]:
abc

array(['A', 'B', 'C'], dtype='<U1')

In [326]:
abc.itemsize

4

In [328]:
abc[0] = 'erty'
abc

array(['e', 'B', 'C'], dtype='<U1')

In [329]:
import numpy as np

In [330]:
np.empty(
    (2,), dtype=('i1, f4, U10')
)

array([(0, 0., ''), (0, 0., '')],
      dtype=[('f0', 'i1'), ('f1', '<f4'), ('f2', '<U10')])

In [333]:
np.empty(
    (2,3), dtype=('i1, f4, U10, ?') # ? Means boolean
)

array([[(0, 0., '', False), (0, 0., '', False), (0, 0., '', False)],
       [(0, 0., '', False), (0, 0., '', False), (0, 0., '', False)]],
      dtype=[('f0', 'i1'), ('f1', '<f4'), ('f2', '<U10'), ('f3', '?')])

In [334]:
np.empty(
    (2,3), dtype=('i1, f4, U10, ?') # ? Means boolean
)['f0'] # f0 Means field one (columns one)

array([[0, 0, 0],
       [0, 0, 0]], dtype=int8)

In [336]:
np.empty(
    (2,3), dtype=[ ('id', 'i4'), ('name', 'U10') ] # ? Means boolean
)

array([[(0, ''), (0, ''), (0, '')],
       [(0, ''), (0, ''), (0, '')]],
      dtype=[('id', '<i4'), ('name', '<U10')])

In [337]:
np.empty(
    (2,3), dtype=[ ('id', 'i4'), ('name', 'U10') ] # ? Means boolean
)['name']

array([['', '', ''],
       ['', '', '']], dtype='<U10')

In [345]:
y = np.array([
    ('amir', 12, 2, 30),
    ('amir2', 1, 23, 3),
    ('amir22', -1, 52, 13),
    ('amir44', 41, 2, 3),
], dtype=[ ('name', str, 10), ('age', 'i4'), ('power', 'f2'), ('size', 'i2'), ])
y

array([('amir', 12,  2., 30), ('amir2',  1, 23.,  3),
       ('amir22', -1, 52., 13), ('amir44', 41,  2.,  3)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('power', '<f2'), ('size', '<i2')])

In [347]:
y[ y['power']>=23 ]['name']

array(['amir2', 'amir22'], dtype='<U10')

In [348]:
np.sort(y[ y['power']>=23 ], order='power')['name']

array(['amir2', 'amir22'], dtype='<U10')

In [349]:
np.sort(
    y[ y['power']>=23 ],
    order='power'
)['name']

array(['amir2', 'amir22'], dtype='<U10')

In [351]:
np.datetime64('2015-09-09')

numpy.datetime64('2015-09-09')

In [352]:
np.datetime64('2015-9-9')

ValueError: Error parsing datetime string "2015-9-9" at position 5

In [354]:
np.datetime64('2015-09-09').dtype

dtype('<M8[D]')

In [356]:
np.arange('2010', '2023', dtype='datetime64')

array(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022'], dtype='datetime64[Y]')

In [359]:
np.arange('2010', '2023', dtype='datetime64[M]') # M means Month

array(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12',
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12'],
      dtype='datetime64[M]')

In [361]:
np.arange('2010', '2023', dtype='datetime64[M]') - np.arange('2012', '2025', dtype='datetime64[M]') # M means Month

array([-24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24,
       -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24, -24],
      dtype='timedelta64[M]')

In [362]:
np.arange('2010', '2023', dtype='datetime64[M]').tolist()

[datetime.date(2010, 1, 1),
 datetime.date(2010, 2, 1),
 datetime.date(2010, 3, 1),
 datetime.date(2010, 4, 1),
 datetime.date(2010, 5, 1),
 datetime.date(2010, 6, 1),
 datetime.date(2010, 7, 1),
 datetime.date(2010, 8, 1),
 datetime.date(2010, 9, 1),
 datetime.date(2010, 10, 1),
 datetime.date(2010, 11, 1),
 datetime.date(2010, 12, 1),
 datetime.date(2011, 1, 1),
 datetime.date(2011, 2, 1),
 datetime.date(2011, 3, 1),
 datetime.date(2011, 4, 1),
 datetime.date(2011, 5, 1),
 datetime.date(2011, 6, 1),
 datetime.date(2011, 7, 1),
 datetime.date(2011, 8, 1),
 datetime.date(2011, 9, 1),
 datetime.date(2011, 10, 1),
 datetime.date(2011, 11, 1),
 datetime.date(2011, 12, 1),
 datetime.date(2012, 1, 1),
 datetime.date(2012, 2, 1),
 datetime.date(2012, 3, 1),
 datetime.date(2012, 4, 1),
 datetime.date(2012, 5, 1),
 datetime.date(2012, 6, 1),
 datetime.date(2012, 7, 1),
 datetime.date(2012, 8, 1),
 datetime.date(2012, 9, 1),
 datetime.date(2012, 10, 1),
 datetime.date(2012, 11, 1),
 datetime.date(2012, 12, 1),
 datetime.date(2013, 1, 1),
 datetime.date(2013, 2, 1),
 datetime.date(2013, 3, 1),
 datetime.date(2013, 4, 1),
 datetime.date(2013, 5, 1),
 datetime.date(2013, 6, 1),
 datetime.date(2013, 7, 1),
 datetime.date(2013, 8, 1),
 datetime.date(2013, 9, 1),
 datetime.date(2013, 10, 1),
 datetime.date(2013, 11, 1),
 datetime.date(2013, 12, 1),
 datetime.date(2014, 1, 1),
 datetime.date(2014, 2, 1),
 datetime.date(2014, 3, 1),
 datetime.date(2014, 4, 1),
 datetime.date(2014, 5, 1),
 datetime.date(2014, 6, 1),
 datetime.date(2014, 7, 1),
 datetime.date(2014, 8, 1),
 datetime.date(2014, 9, 1),
 datetime.date(2014, 10, 1),
 datetime.date(2014, 11, 1),
 datetime.date(2014, 12, 1),
 datetime.date(2015, 1, 1),
 datetime.date(2015, 2, 1),
 datetime.date(2015, 3, 1),
 datetime.date(2015, 4, 1),
 datetime.date(2015, 5, 1),
 datetime.date(2015, 6, 1),
 datetime.date(2015, 7, 1),
 datetime.date(2015, 8, 1),
 datetime.date(2015, 9, 1),
 datetime.date(2015, 10, 1),
 datetime.date(2015, 11, 1),
 datetime.date(2015, 12, 1),
 datetime.date(2016, 1, 1),
 datetime.date(2016, 2, 1),
 datetime.date(2016, 3, 1),
 datetime.date(2016, 4, 1),
 datetime.date(2016, 5, 1),
 datetime.date(2016, 6, 1),
 datetime.date(2016, 7, 1),
 datetime.date(2016, 8, 1),
 datetime.date(2016, 9, 1),
 datetime.date(2016, 10, 1),
 datetime.date(2016, 11, 1),
 datetime.date(2016, 12, 1),
 datetime.date(2017, 1, 1),
 datetime.date(2017, 2, 1),
 datetime.date(2017, 3, 1),
 datetime.date(2017, 4, 1),
 datetime.date(2017, 5, 1),
 datetime.date(2017, 6, 1),
 datetime.date(2017, 7, 1),
 datetime.date(2017, 8, 1),
 datetime.date(2017, 9, 1),
 datetime.date(2017, 10, 1),
 datetime.date(2017, 11, 1),
 datetime.date(2017, 12, 1),
 datetime.date(2018, 1, 1),
 datetime.date(2018, 2, 1),
 datetime.date(2018, 3, 1),
 datetime.date(2018, 4, 1),
 datetime.date(2018, 5, 1),
 datetime.date(2018, 6, 1),
 datetime.date(2018, 7, 1),
 datetime.date(2018, 8, 1),
 datetime.date(2018, 9, 1),
 datetime.date(2018, 10, 1),
 datetime.date(2018, 11, 1),
 datetime.date(2018, 12, 1),
 datetime.date(2019, 1, 1),
 datetime.date(2019, 2, 1),
 datetime.date(2019, 3, 1),
 datetime.date(2019, 4, 1),
 datetime.date(2019, 5, 1),
 datetime.date(2019, 6, 1),
 datetime.date(2019, 7, 1),
 datetime.date(2019, 8, 1),
 datetime.date(2019, 9, 1),
 datetime.date(2019, 10, 1),
 datetime.date(2019, 11, 1),
 datetime.date(2019, 12, 1),
 datetime.date(2020, 1, 1),
 datetime.date(2020, 2, 1),
 datetime.date(2020, 3, 1),
 datetime.date(2020, 4, 1),
 datetime.date(2020, 5, 1),
 datetime.date(2020, 6, 1),
 datetime.date(2020, 7, 1),
 datetime.date(2020, 8, 1),
 datetime.date(2020, 9, 1),
 datetime.date(2020, 10, 1),
 datetime.date(2020, 11, 1),
 datetime.date(2020, 12, 1),
 datetime.date(2021, 1, 1),
 datetime.date(2021, 2, 1),
 datetime.date(2021, 3, 1),
 datetime.date(2021, 4, 1),
 datetime.date(2021, 5, 1),
 datetime.date(2021, 6, 1),
 datetime.date(2021, 7, 1),
 datetime.date(2021, 8, 1),
 datetime.date(2021, 9, 1),
 datetime.date(2021, 10, 1),
 datetime.date(2021, 11, 1),
 datetime.date(2021, 12, 1),
 datetime.date(2022, 1, 1),
 datetime.date(2022, 2, 1),
 datetime.date(2022, 3, 1),
 datetime.date(2022, 4, 1),
 datetime.date(2022, 5, 1),
 datetime.date(2022, 6, 1),
 datetime.date(2022, 7, 1),
 datetime.date(2022, 8, 1),
 datetime.date(2022, 9, 1),
 datetime.date(2022, 10, 1),
 datetime.date(2022, 11, 1),
 datetime.date(2022, 12, 1)]

In [363]:
np.arange('2010', '2023', dtype='datetime64[M]').tolist()[0]

datetime.date(2010, 1, 1)

In [364]:
type(
    np.arange('2010', '2023', dtype='datetime64[M]').tolist()[0]
)

datetime.date

In [365]:
# Practice session

In [370]:
np.empty((2, 3))

array([[3., 4., 5.],
       [6., 4., 8.]])

In [371]:
np.zeros((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [372]:
np.ones((4, 5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [373]:
float('infinity')

inf

In [374]:
np.full((2, 3), 13)

array([[13, 13, 13],
       [13, 13, 13]])

In [378]:
np.array([1, 2, 3]).reshape((3, 1))

array([[1],
       [2],
       [3]])

In [379]:
np.full((3, 3), 5, dtype='i1')

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]], dtype=int8)

In [380]:
np.full((3, 3), 5, dtype=int)

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [381]:
np.full((3, 3), 5, dtype=int).dtype

dtype('int32')

In [382]:
np.info(np.int8)

 int8()

Signed integer type, compatible with C ``char``.

:Character code: ``'b'``
:Canonical name: `numpy.byte`
:Alias on this platform (win32 AMD64): `numpy.int8`: 8-bit signed integer (``-128`` to ``127``).


Methods:

  all  --  Scalar method identical to the corresponding array attribute.
  any  --  Scalar method identical to the corresponding array attribute.
  argmax  --  Scalar method identical to the corresponding array attribute.
  argmin  --  Scalar method identical to the corresponding array attribute.
  argsort  --  Scalar method identical to the corresponding array attribute.
  astype  --  Scalar method identical to the corresponding array attribute.
  bit_count  --  int8.bit_count() -> int
  byteswap  --  Scalar method identical to the corresponding array attribute.
  choose  --  Scalar method identical to the corresponding array attribute.
  clip  --  Scalar method identical to the corresponding array attribute.
  compress  --  Scalar method identical to the corresponding array attribute.
  conj  --  None
  conjugate  --  Scalar method identical to the corresponding array attribute.
  copy  --  Scalar method identical to the corresponding array attribute.
  cumprod  --  Scalar method identical to the corresponding array attribute.
  cumsum  --  Scalar method identical to the corresponding array attribute.
  diagonal  --  Scalar method identical to the corresponding array attribute.
  dump  --  Scalar method identical to the corresponding array attribute.
  dumps  --  Scalar method identical to the corresponding array attribute.
  fill  --  Scalar method identical to the corresponding array attribute.
  flatten  --  Scalar method identical to the corresponding array attribute.
  getfield  --  Scalar method identical to the corresponding array attribute.
  is_integer  --  integer.is_integer() -> bool
  item  --  Scalar method identical to the corresponding array attribute.
  itemset  --  Scalar method identical to the corresponding array attribute.
  max  --  Scalar method identical to the corresponding array attribute.
  mean  --  Scalar method identical to the corresponding array attribute.
  min  --  Scalar method identical to the corresponding array attribute.
  newbyteorder  --  newbyteorder(new_order='S', /)
  nonzero  --  Scalar method identical to the corresponding array attribute.
  prod  --  Scalar method identical to the corresponding array attribute.
  ptp  --  Scalar method identical to the corresponding array attribute.
  put  --  Scalar method identical to the corresponding array attribute.
  ravel  --  Scalar method identical to the corresponding array attribute.
  repeat  --  Scalar method identical to the corresponding array attribute.
  reshape  --  Scalar method identical to the corresponding array attribute.
  resize  --  Scalar method identical to the corresponding array attribute.
  round  --  Scalar method identical to the corresponding array attribute.
  searchsorted  --  Scalar method identical to the corresponding array attribute.
  setfield  --  Scalar method identical to the corresponding array attribute.
  setflags  --  Scalar method identical to the corresponding array attribute.
  sort  --  Scalar method identical to the corresponding array attribute.
  squeeze  --  Scalar method identical to the corresponding array attribute.
  std  --  Scalar method identical to the corresponding array attribute.
  sum  --  Scalar method identical to the corresponding array attribute.
  swapaxes  --  Scalar method identical to the corresponding array attribute.
  take  --  Scalar method identical to the corresponding array attribute.
  tobytes  --  None
  tofile  --  Scalar method identical to the corresponding array attribute.
  tolist  --  Scalar method identical to the corresponding array attribute.
  tostring  --  Scalar method identical to the corresponding array attribute.
  trace  --  Scalar method identical to the corresponding array attribute.
  transpose  --  Scalar method identical to the corresponding array attribute.
  var  --  Scalar method identical to the corresponding array attribute.
  view  --  Scalar method identical to the corresponding array attribute.

In [384]:
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [385]:
np.finfo(np.float64)

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [387]:
np.iinfo(np.uint8)

iinfo(min=0, max=255, dtype=uint8)

In [388]:
np.array([-1, 2, -3], dtype=np.uint8)

C:\Users\Amir\AppData\Local\Temp\ipykernel_19356\1977696625.py:1: DeprecationWarning: NumPy will stop allowing conversion of out-of-bound Python integers to integer arrays.  The conversion of -1 to uint8 will fail in the future.
For the old behavior, usually:
    np.array(value).astype(dtype)
will give the desired result (the cast overflows).
  np.array([-1, 2, -3], dtype=np.uint8)
C:\Users\Amir\AppData\Local\Temp\ipykernel_19356\1977696625.py:1: DeprecationWarning: NumPy will stop allowing conversion of out-of-bound Python integers to integer arrays.  The conversion of -3 to uint8 will fail in the future.
For the old behavior, usually:
    np.array(value).astype(dtype)
will give the desired result (the cast overflows).
  np.array([-1, 2, -3], dtype=np.uint8)

array([255,   2, 253], dtype=uint8)

In [391]:
np.arange(0, 1000)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [393]:
np.arange(-3, 3, dtype=np.float64)

array([-3., -2., -1.,  0.,  1.,  2.])

In [394]:
np.arange(-3, 3, dtype='f4')

array([-3., -2., -1.,  0.,  1.,  2.], dtype=float32)

In [395]:
np.arange(2, 8, 0.2)

array([2. , 2.2, 2.4, 2.6, 2.8, 3. , 3.2, 3.4, 3.6, 3.8, 4. , 4.2, 4.4,
       4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4, 6.6, 6.8, 7. ,
       7.2, 7.4, 7.6, 7.8])

In [396]:
np.linspace(0, 100)

array([  0.        ,   2.04081633,   4.08163265,   6.12244898,
         8.16326531,  10.20408163,  12.24489796,  14.28571429,
        16.32653061,  18.36734694,  20.40816327,  22.44897959,
        24.48979592,  26.53061224,  28.57142857,  30.6122449 ,
        32.65306122,  34.69387755,  36.73469388,  38.7755102 ,
        40.81632653,  42.85714286,  44.89795918,  46.93877551,
        48.97959184,  51.02040816,  53.06122449,  55.10204082,
        57.14285714,  59.18367347,  61.2244898 ,  63.26530612,
        65.30612245,  67.34693878,  69.3877551 ,  71.42857143,
        73.46938776,  75.51020408,  77.55102041,  79.59183673,
        81.63265306,  83.67346939,  85.71428571,  87.75510204,
        89.79591837,  91.83673469,  93.87755102,  95.91836735,
        97.95918367, 100.        ])

In [397]:
np.linspace(0, 100, num=2)

array([  0., 100.])

In [398]:
np.linspace(0, 100, num=900)

array([  0.        ,   0.11123471,   0.22246941,   0.33370412,
         0.44493882,   0.55617353,   0.66740823,   0.77864294,
         0.88987764,   1.00111235,   1.11234705,   1.22358176,
         1.33481646,   1.44605117,   1.55728587,   1.66852058,
         1.77975528,   1.89098999,   2.00222469,   2.1134594 ,
         2.2246941 ,   2.33592881,   2.44716352,   2.55839822,
         2.66963293,   2.78086763,   2.89210234,   3.00333704,
         3.11457175,   3.22580645,   3.33704116,   3.44827586,
         3.55951057,   3.67074527,   3.78197998,   3.89321468,
         4.00444939,   4.11568409,   4.2269188 ,   4.3381535 ,
         4.44938821,   4.56062291,   4.67185762,   4.78309232,
         4.89432703,   5.00556174,   5.11679644,   5.22803115,
         5.33926585,   5.45050056,   5.56173526,   5.67296997,
         5.78420467,   5.89543938,   6.00667408,   6.11790879,
         6.22914349,   6.3403782 ,   6.4516129 ,   6.56284761,
         6.67408231,   6.78531702,   6.89655172,   7.00778643,
         7.11902113,   7.23025584,   7.34149055,   7.45272525,
         7.56395996,   7.67519466,   7.78642937,   7.89766407,
         8.00889878,   8.12013348,   8.23136819,   8.34260289,
         8.4538376 ,   8.5650723 ,   8.67630701,   8.78754171,
         8.89877642,   9.01001112,   9.12124583,   9.23248053,
         9.34371524,   9.45494994,   9.56618465,   9.67741935,
         9.78865406,   9.89988877,  10.01112347,  10.12235818,
        10.23359288,  10.34482759,  10.45606229,  10.567297  ,
        10.6785317 ,  10.78976641,  10.90100111,  11.01223582,
        11.12347052,  11.23470523,  11.34593993,  11.45717464,
        11.56840934,  11.67964405,  11.79087875,  11.90211346,
        12.01334816,  12.12458287,  12.23581758,  12.34705228,
        12.45828699,  12.56952169,  12.6807564 ,  12.7919911 ,
        12.90322581,  13.01446051,  13.12569522,  13.23692992,
        13.34816463,  13.45939933,  13.57063404,  13.68186874,
        13.79310345,  13.90433815,  14.01557286,  14.12680756,
        14.23804227,  14.34927697,  14.46051168,  14.57174638,
        14.68298109,  14.7942158 ,  14.9054505 ,  15.01668521,
        15.12791991,  15.23915462,  15.35038932,  15.46162403,
        15.57285873,  15.68409344,  15.79532814,  15.90656285,
        16.01779755,  16.12903226,  16.24026696,  16.35150167,
        16.46273637,  16.57397108,  16.68520578,  16.79644049,
        16.90767519,  17.0189099 ,  17.13014461,  17.24137931,
        17.35261402,  17.46384872,  17.57508343,  17.68631813,
        17.79755284,  17.90878754,  18.02002225,  18.13125695,
        18.24249166,  18.35372636,  18.46496107,  18.57619577,
        18.68743048,  18.79866518,  18.90989989,  19.02113459,
        19.1323693 ,  19.243604  ,  19.35483871,  19.46607341,
        19.57730812,  19.68854283,  19.79977753,  19.91101224,
        20.02224694,  20.13348165,  20.24471635,  20.35595106,
        20.46718576,  20.57842047,  20.68965517,  20.80088988,
        20.91212458,  21.02335929,  21.13459399,  21.2458287 ,
        21.3570634 ,  21.46829811,  21.57953281,  21.69076752,
        21.80200222,  21.91323693,  22.02447164,  22.13570634,
        22.24694105,  22.35817575,  22.46941046,  22.58064516,
        22.69187987,  22.80311457,  22.91434928,  23.02558398,
        23.13681869,  23.24805339,  23.3592881 ,  23.4705228 ,
        23.58175751,  23.69299221,  23.80422692,  23.91546162,
        24.02669633,  24.13793103,  24.24916574,  24.36040044,
        24.47163515,  24.58286986,  24.69410456,  24.80533927,
        24.91657397,  25.02780868,  25.13904338,  25.25027809,
        25.36151279,  25.4727475 ,  25.5839822 ,  25.69521691,
        25.80645161,  25.91768632,  26.02892102,  26.14015573,
        26.25139043,  26.36262514,  26.47385984,  26.58509455,
        26.69632925,  26.80756396,  26.91879867,  27.03003337,
        27.14126808,  27.25250278,  27.36373749,  27.47497219,
        27.5862069 ,  27.6974416 ,  27.80867631,  27.91991101,
        28.03114572,  28.14238042,  28.25361513,  28.36484983,
        28.47608454,  28.58731924,  28.69855395,  28.80978865,
        28.92102336,  29.03225806,  29.14349277,  29.25472747,
        29.36596218,  29.47719689,  29.58843159,  29.6996663 ,
        29.810901  ,  29.92213571,  30.03337041,  30.14460512,
        30.25583982,  30.36707453,  30.47830923,  30.58954394,
        30.70077864,  30.81201335,  30.92324805,  31.03448276,
        31.14571746,  31.25695217,  31.36818687,  31.47942158,
        31.59065628,  31.70189099,  31.8131257 ,  31.9243604 ,
        32.03559511,  32.14682981,  32.25806452,  32.36929922,
        32.48053393,  32.59176863,  32.70300334,  32.81423804,
        32.92547275,  33.03670745,  33.14794216,  33.25917686,
        33.37041157,  33.48164627,  33.59288098,  33.70411568,
        33.81535039,  33.92658509,  34.0378198 ,  34.14905451,
        34.26028921,  34.37152392,  34.48275862,  34.59399333,
        34.70522803,  34.81646274,  34.92769744,  35.03893215,
        35.15016685,  35.26140156,  35.37263626,  35.48387097,
        35.59510567,  35.70634038,  35.81757508,  35.92880979,
        36.04004449,  36.1512792 ,  36.2625139 ,  36.37374861,
        36.48498331,  36.59621802,  36.70745273,  36.81868743,
        36.92992214,  37.04115684,  37.15239155,  37.26362625,
        37.37486096,  37.48609566,  37.59733037,  37.70856507,
        37.81979978,  37.93103448,  38.04226919,  38.15350389,
        38.2647386 ,  38.3759733 ,  38.48720801,  38.59844271,
        38.70967742,  38.82091212,  38.93214683,  39.04338154,
        39.15461624,  39.26585095,  39.37708565,  39.48832036,
        39.59955506,  39.71078977,  39.82202447,  39.93325918,
        40.04449388,  40.15572859,  40.26696329,  40.378198  ,
        40.4894327 ,  40.60066741,  40.71190211,  40.82313682,
        40.93437152,  41.04560623,  41.15684093,  41.26807564,
        41.37931034,  41.49054505,  41.60177976,  41.71301446,
        41.82424917,  41.93548387,  42.04671858,  42.15795328,
        42.26918799,  42.38042269,  42.4916574 ,  42.6028921 ,
        42.71412681,  42.82536151,  42.93659622,  43.04783092,
        43.15906563,  43.27030033,  43.38153504,  43.49276974,
        43.60400445,  43.71523915,  43.82647386,  43.93770857,
        44.04894327,  44.16017798,  44.27141268,  44.38264739,
        44.49388209,  44.6051168 ,  44.7163515 ,  44.82758621,
        44.93882091,  45.05005562,  45.16129032,  45.27252503,
        45.38375973,  45.49499444,  45.60622914,  45.71746385,
        45.82869855,  45.93993326,  46.05116796,  46.16240267,
        46.27363737,  46.38487208,  46.49610679,  46.60734149,
        46.7185762 ,  46.8298109 ,  46.94104561,  47.05228031,
        47.16351502,  47.27474972,  47.38598443,  47.49721913,
        47.60845384,  47.71968854,  47.83092325,  47.94215795,
        48.05339266,  48.16462736,  48.27586207,  48.38709677,
        48.49833148,  48.60956618,  48.72080089,  48.8320356 ,
        48.9432703 ,  49.05450501,  49.16573971,  49.27697442,
        49.38820912,  49.49944383,  49.61067853,  49.72191324,
        49.83314794,  49.94438265,  50.05561735,  50.16685206,
        50.27808676,  50.38932147,  50.50055617,  50.61179088,
        50.72302558,  50.83426029,  50.94549499,  51.0567297 ,
        51.1679644 ,  51.27919911,  51.39043382,  51.50166852,
        51.61290323,  51.72413793,  51.83537264,  51.94660734,
        52.05784205,  52.16907675,  52.28031146,  52.39154616,
        52.50278087,  52.61401557,  52.72525028,  52.83648498,
        52.94771969,  53.05895439,  53.1701891 ,  53.2814238 ,
        53.39265851,  53.50389321,  53.61512792,  53.72636263,
        53.83759733,  53.94883204,  54.06006674,  54.17130145,
        54.28253615,  54.39377086,  54.50500556,  54.61624027,
        54.72747497,  54.83870968,  54.94994438,  55.06117909,
        55.17241379,  55.2836485 ,  55.3948832 ,  55.50611791,
        55.61735261,  55.72858732,  55.83982202,  55.95105673,
        56.06229143,  56.17352614,  56.28476085,  56.39599555,
        56.50723026,  56.61846496,  56.72969967,  56.84093437,
        56.95216908,  57.06340378,  57.17463849,  57.28587319,
        57.3971079 ,  57.5083426 ,  57.61957731,  57.73081201,
        57.84204672,  57.95328142,  58.06451613,  58.17575083,
        58.28698554,  58.39822024,  58.50945495,  58.62068966,
        58.73192436,  58.84315907,  58.95439377,  59.06562848,
        59.17686318,  59.28809789,  59.39933259,  59.5105673 ,
        59.621802  ,  59.73303671,  59.84427141,  59.95550612,
        60.06674082,  60.17797553,  60.28921023,  60.40044494,
        60.51167964,  60.62291435,  60.73414905,  60.84538376,
        60.95661846,  61.06785317,  61.17908788,  61.29032258,
        61.40155729,  61.51279199,  61.6240267 ,  61.7352614 ,
        61.84649611,  61.95773081,  62.06896552,  62.18020022,
        62.29143493,  62.40266963,  62.51390434,  62.62513904,
        62.73637375,  62.84760845,  62.95884316,  63.07007786,
        63.18131257,  63.29254727,  63.40378198,  63.51501669,
        63.62625139,  63.7374861 ,  63.8487208 ,  63.95995551,
        64.07119021,  64.18242492,  64.29365962,  64.40489433,
        64.51612903,  64.62736374,  64.73859844,  64.84983315,
        64.96106785,  65.07230256,  65.18353726,  65.29477197,
        65.40600667,  65.51724138,  65.62847608,  65.73971079,
        65.85094549,  65.9621802 ,  66.07341491,  66.18464961,
        66.29588432,  66.40711902,  66.51835373,  66.62958843,
        66.74082314,  66.85205784,  66.96329255,  67.07452725,
        67.18576196,  67.29699666,  67.40823137,  67.51946607,
        67.63070078,  67.74193548,  67.85317019,  67.96440489,
        68.0756396 ,  68.1868743 ,  68.29810901,  68.40934372,
        68.52057842,  68.63181313,  68.74304783,  68.85428254,
        68.96551724,  69.07675195,  69.18798665,  69.29922136,
        69.41045606,  69.52169077,  69.63292547,  69.74416018,
        69.85539488,  69.96662959,  70.07786429,  70.189099  ,
        70.3003337 ,  70.41156841,  70.52280311,  70.63403782,
        70.74527253,  70.85650723,  70.96774194,  71.07897664,
        71.19021135,  71.30144605,  71.41268076,  71.52391546,
        71.63515017,  71.74638487,  71.85761958,  71.96885428,
        72.08008899,  72.19132369,  72.3025584 ,  72.4137931 ,
        72.52502781,  72.63626251,  72.74749722,  72.85873192,
        72.96996663,  73.08120133,  73.19243604,  73.30367075,
        73.41490545,  73.52614016,  73.63737486,  73.74860957,
        73.85984427,  73.97107898,  74.08231368,  74.19354839,
        74.30478309,  74.4160178 ,  74.5272525 ,  74.63848721,
        74.74972191,  74.86095662,  74.97219132,  75.08342603,
        75.19466073,  75.30589544,  75.41713014,  75.52836485,
        75.63959956,  75.75083426,  75.86206897,  75.97330367,
        76.08453838,  76.19577308,  76.30700779,  76.41824249,
        76.5294772 ,  76.6407119 ,  76.75194661,  76.86318131,
        76.97441602,  77.08565072,  77.19688543,  77.30812013,
        77.41935484,  77.53058954,  77.64182425,  77.75305895,
        77.86429366,  77.97552836,  78.08676307,  78.19799778,
        78.30923248,  78.42046719,  78.53170189,  78.6429366 ,
        78.7541713 ,  78.86540601,  78.97664071,  79.08787542,
        79.19911012,  79.31034483,  79.42157953,  79.53281424,
        79.64404894,  79.75528365,  79.86651835,  79.97775306,
        80.08898776,  80.20022247,  80.31145717,  80.42269188,
        80.53392659,  80.64516129,  80.756396  ,  80.8676307 ,
        80.97886541,  81.09010011,  81.20133482,  81.31256952,
        81.42380423,  81.53503893,  81.64627364,  81.75750834,
        81.86874305,  81.97997775,  82.09121246,  82.20244716,
        82.31368187,  82.42491657,  82.53615128,  82.64738598,
        82.75862069,  82.86985539,  82.9810901 ,  83.09232481,
        83.20355951,  83.31479422,  83.42602892,  83.53726363,
        83.64849833,  83.75973304,  83.87096774,  83.98220245,
        84.09343715,  84.20467186,  84.31590656,  84.42714127,
        84.53837597,  84.64961068,  84.76084538,  84.87208009,
        84.98331479,  85.0945495 ,  85.2057842 ,  85.31701891,
        85.42825362,  85.53948832,  85.65072303,  85.76195773,
        85.87319244,  85.98442714,  86.09566185,  86.20689655,
        86.31813126,  86.42936596,  86.54060067,  86.65183537,
        86.76307008,  86.87430478,  86.98553949,  87.09677419,
        87.2080089 ,  87.3192436 ,  87.43047831,  87.54171301,
        87.65294772,  87.76418242,  87.87541713,  87.98665184,
        88.09788654,  88.20912125,  88.32035595,  88.43159066,
        88.54282536,  88.65406007,  88.76529477,  88.87652948,
        88.98776418,  89.09899889,  89.21023359,  89.3214683 ,
        89.432703  ,  89.54393771,  89.65517241,  89.76640712,
        89.87764182,  89.98887653,  90.10011123,  90.21134594,
        90.32258065,  90.43381535,  90.54505006,  90.65628476,
        90.76751947,  90.87875417,  90.98998888,  91.10122358,
        91.21245829,  91.32369299,  91.4349277 ,  91.5461624 ,
        91.65739711,  91.76863181,  91.87986652,  91.99110122,
        92.10233593,  92.21357063,  92.32480534,  92.43604004,
        92.54727475,  92.65850945,  92.76974416,  92.88097887,
        92.99221357,  93.10344828,  93.21468298,  93.32591769,
        93.43715239,  93.5483871 ,  93.6596218 ,  93.77085651,
        93.88209121,  93.99332592,  94.10456062,  94.21579533,
        94.32703003,  94.43826474,  94.54949944,  94.66073415,
        94.77196885,  94.88320356,  94.99443826,  95.10567297,
        95.21690768,  95.32814238,  95.43937709,  95.55061179,
        95.6618465 ,  95.7730812 ,  95.88431591,  95.99555061,
        96.10678532,  96.21802002,  96.32925473,  96.44048943,
        96.55172414,  96.66295884,  96.77419355,  96.88542825,
        96.99666296,  97.10789766,  97.21913237,  97.33036707,
        97.44160178,  97.55283648,  97.66407119,  97.7753059 ,
        97.8865406 ,  97.99777531,  98.10901001,  98.22024472,
        98.33147942,  98.44271413,  98.55394883,  98.66518354,
        98.77641824,  98.88765295,  98.99888765,  99.11012236,
        99.22135706,  99.33259177,  99.44382647,  99.55506118,
        99.66629588,  99.77753059,  99.88876529, 100.        ])

In [399]:
np.linspace(0, 100, num=10)

array([  0.        ,  11.11111111,  22.22222222,  33.33333333,
        44.44444444,  55.55555556,  66.66666667,  77.77777778,
        88.88888889, 100.        ])

In [400]:
np.linspace(0, 100, num=7) # Linear space splits into 50 by default parts

array([  0.        ,  16.66666667,  33.33333333,  50.        ,
        66.66666667,  83.33333333, 100.        ])

In [401]:
np.arange(-0.5, 0.2, 0.1)

array([-5.00000000e-01, -4.00000000e-01, -3.00000000e-01, -2.00000000e-01,
       -1.00000000e-01, -1.11022302e-16,  1.00000000e-01])

In [405]:
np.diag((9, 9), 7)

array([[0, 0, 0, 0, 0, 0, 0, 9, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 9],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [406]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [408]:
np.eye(9, dtype='i1')

array([[1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1]], dtype=int8)

In [409]:
np.diag([1, 2, 3, 4])

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [410]:
np.diag([1, 1, 1, 1])

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [411]:
# .diag means diagonal (movarab)

In [412]:
np.diag([1, 2, 3], k=0)

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [413]:
np.diag([1, 2, 3], k=1)

array([[0, 1, 0, 0],
       [0, 0, 2, 0],
       [0, 0, 0, 3],
       [0, 0, 0, 0]])

In [414]:
np.diag([1, 2, 3], k=3)

array([[0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 2, 0],
       [0, 0, 0, 0, 0, 3],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [415]:
np.eye(3, k=1)

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [416]:
np.eye(3, k=10)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [417]:
np.eye(11, k=1)

array([[0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [419]:
np.diag(
    np.arange(5)
)

array([[0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 2, 0, 0],
       [0, 0, 0, 3, 0],
       [0, 0, 0, 0, 4]])

In [420]:
np.diag(
    np.arange(10)
)

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 3, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 4, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 5, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 6, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 7, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 8, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 9]])

In [421]:
np.diag(
    np.arange(50)
)

array([[ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  1,  0, ...,  0,  0,  0],
       [ 0,  0,  2, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ..., 47,  0,  0],
       [ 0,  0,  0, ...,  0, 48,  0],
       [ 0,  0,  0, ...,  0,  0, 49]])

In [422]:
np.diag(
    np.linspace(1, 121, 6)
)

array([[  1.,   0.,   0.,   0.,   0.,   0.],
       [  0.,  25.,   0.,   0.,   0.,   0.],
       [  0.,   0.,  49.,   0.,   0.,   0.],
       [  0.,   0.,   0.,  73.,   0.,   0.],
       [  0.,   0.,   0.,   0.,  97.,   0.],
       [  0.,   0.,   0.,   0.,   0., 121.]])

In [423]:
np.diag(
    np.linspace(1, 121, 7)
)

array([[  1.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,  21.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,  41.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,  61.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,  81.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0., 101.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0., 121.]])

In [424]:
np.diag(
    np.linspace(1, 121, 5)
)

array([[  1.,   0.,   0.,   0.,   0.],
       [  0.,  31.,   0.,   0.,   0.],
       [  0.,   0.,  61.,   0.,   0.],
       [  0.,   0.,   0.,  91.,   0.],
       [  0.,   0.,   0.,   0., 121.]])

In [425]:
np.diag(
    np.linspace(1, 121, 1)
)

array([[1.]])

In [426]:
np.diag(
    np.linspace(1, 121, 21)
)

array([[  1.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   7.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,  13.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,  19.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,  25.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,  31.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,  37.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,  43.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  49.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  55.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  61.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         67.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,  73.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,  79.,   0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,  85.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,  91.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,  97.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0., 103.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0., 109.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 115.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 121.]])

In [427]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [429]:
np.eye(5, k=2)

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [430]:
np.eye(5, k=-1)

array([[0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [432]:
z = np.eye(10, k=-2)
z

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]])

In [433]:
np.diag(z)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [435]:
np.diag(z, k=-2) # -2 ta az mehvar asli miad paeen va on mehvar ro mide

array([1., 1., 1., 1., 1., 1., 1., 1.])

In [437]:
# baraye tozei ha va tozei haye normal ast
np.random.default_rng

In [439]:
rng = np.random.default_rng(10) # 10 is seed
rng

Generator(PCG64) at 0x25ECFD2E420

In [440]:
rng.random((3, 3))

array([[0.95600171, 0.20768181, 0.82844489],
       [0.14928212, 0.51280462, 0.1359196 ],
       [0.68903648, 0.84174772, 0.425509  ]])

In [441]:
rng.random((3, 3))

array([[0.956926  , 0.82533291, 0.33821531],
       [0.57576055, 0.75330186, 0.82710394],
       [0.93343847, 0.14499469, 0.74558021]])

In [443]:
rng.standard_normal(10) # standard normal distrbution function

array([ 0.98371534,  0.63004195, -0.23805881, -1.84493988,  0.16957773,
       -0.17597776,  0.07679986,  1.54230411,  0.18368354,  0.27633381])

In [446]:
rng = np.random.default_rng(4324324) # 4324324 is a random seed
rng.random() # same result every time

0.8732887675273913

In [448]:
rng = np.random.default_rng(4324324) # 4324324 is a random seed
rng.random((3, 3)) # same result every time

array([[0.87328877, 0.29749028, 0.25742013],
       [0.57373864, 0.45186259, 0.29384607],
       [0.01654053, 0.57913417, 0.52848958]])

In [449]:
np.full((3, 4), 'pythontopia')

array([['pythontopia', 'pythontopia', 'pythontopia', 'pythontopia'],
       ['pythontopia', 'pythontopia', 'pythontopia', 'pythontopia'],
       ['pythontopia', 'pythontopia', 'pythontopia', 'pythontopia']],
      dtype='<U11')

In [452]:
np.empty((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [453]:
np.Inf

inf

In [454]:
np.inf

inf

In [455]:
-np.inf

-inf

In [456]:
np.nan

nan

In [457]:
np.full((3, 3), [-np.inf, np.nan, np.inf])

array([[-inf,  nan,  inf],
       [-inf,  nan,  inf],
       [-inf,  nan,  inf]])

In [458]:
type(np.array([1, 2, 3]))

numpy.ndarray

In [459]:
type(np.array([1, 2, 3])[0])

numpy.int32

In [1]:
# File I/O

In [3]:
import numpy as np
np.timedelta64 # baraye timedelta va ekhtelafe zamani, timezone na ha!

numpy.timedelta64

In [6]:
np.random.randint(0, 365, 1000)

array([102, 227, 316, 203, 165, 305, 194, 347, 164, 343, 330,  59, 298,
       303,  51,  83, 246, 189,  84, 154, 293, 216, 349, 253, 151, 340,
        51, 198, 296,  27, 330, 225, 286, 254, 152,  92,  66,  74,  68,
       230, 239, 187,  79, 289, 173, 284, 217, 350, 341,  35, 168, 316,
        35,  36, 183, 334, 288, 189, 142, 283, 356, 108, 216, 207,  74,
        68, 318, 170,  33,  16, 145, 109, 174,   6, 236, 189, 330, 226,
        58,  73,  81, 119,  18, 326, 112,  79, 158,  56, 234, 103, 129,
       180, 142, 263, 127, 211,  71, 328, 333,  67, 289, 294,  75, 280,
       243, 286, 363,  24, 178, 139, 160,  21,  85, 363,  41, 246,  42,
        15, 120,  66, 267, 119, 348, 309, 109,  70, 278, 333, 252, 323,
        16,  92, 321, 352,  56, 183, 357,  58, 343, 155,  34,  38,  14,
       200,  69, 102, 271, 294, 168, 169,  89,  72, 341, 279, 151, 101,
       295, 203, 363, 103,  25, 119,   6, 180, 358, 212, 301, 203,  89,
        74,  91,   0, 333,  60, 202,  39, 326, 302, 307, 252,  92, 280,
       101,   3, 252, 120, 358, 181, 151, 153,  95, 106, 288, 193,  38,
       260, 161, 223, 314, 353,  82, 125, 233,  64, 234, 274, 208,  59,
       352, 152, 197, 136, 297,  70,  58, 122, 246, 292, 268, 311,  33,
       258, 194,   5, 159, 334, 103, 228,   5, 323,  72, 251, 342, 173,
       233,  10, 216, 300,  75, 224, 273,  96, 349, 348, 143, 122, 138,
       136, 204, 310,  85, 209,  59,  26, 263, 221,  55, 311, 354, 141,
        82, 225, 242,  27,  65, 335, 294, 174, 334, 358, 313, 362, 330,
       213, 144,  40, 191,  46, 282, 285, 222, 274, 104, 329, 285, 160,
       197, 190, 106, 330,  15, 141,  30, 330, 190,  46,  93,  68, 243,
       224, 254, 160, 151,  18, 253, 281,  97, 125, 290, 101, 257, 117,
       182, 307, 211, 175, 248, 257, 354,  27, 161, 204, 275, 333,  86,
       335, 290, 238, 205,  71, 319,  71, 304, 149, 121, 202,  28, 114,
       202,  70, 108, 244, 180, 134, 252,  45,  30,  20,  50, 219,  89,
        16,  68,  49, 323, 261,  35, 304, 156,  66,   9,  98,   6, 281,
        20, 171, 101, 329, 308,   7,  52, 187, 179, 270,  32,   3,  62,
       238, 298,  90, 108, 285, 296,  30,  14, 334, 114, 196, 314, 258,
       280, 279,  92, 273, 296, 262, 139, 129, 129, 206,  38, 164,  32,
        94, 276,  95,  62, 166, 277, 339, 329, 299,  33, 235, 280, 315,
        73, 152, 321,  95,  37,  33, 155, 293, 350, 361, 289,  76, 327,
       104, 188, 313, 344, 107,  26,  91,  96, 154,   1, 152, 252, 209,
       109, 118, 219, 207,  40, 164, 345, 357, 177, 112, 114,  18, 128,
       267, 289,  94, 107, 138,  30, 321,  88, 171,  87,  77,  86, 105,
        23, 353,  36, 358,  39, 146, 316,  18, 334,  75, 339,  27, 246,
        73, 348,   9, 193, 135, 100, 212, 167, 166,  92, 344, 202, 101,
       118, 286, 195,  40, 305, 128, 184, 257, 111,  72, 299, 208, 125,
       283,  93,  16,  49, 293,  70, 123, 188, 103, 308,  63,  22, 237,
        24, 122, 110, 116, 272, 311, 110,  63, 239, 153, 348, 300,  59,
       103, 343, 135, 247, 308,  84,  67, 327, 340, 277,  35,  13,  80,
       179,  17,   3,  69, 271, 100, 232,  97,  89, 182, 173, 232, 249,
       172,  49, 279, 127, 130, 146, 255,  86, 291, 140, 154, 282,  22,
       101, 266, 216, 200,  10, 261, 282, 356, 210, 173, 294,  48,  91,
       264,   5, 306,  48,  82,  38, 186, 246, 247, 359, 292, 163,  33,
       286, 107, 295,  33, 107, 267, 139, 250, 360, 279,  41, 163, 168,
       134,  10,  54, 324, 151,  56, 162,  99, 142, 230,  32,  69, 260,
       159, 231, 278, 240, 260,  23, 309, 205, 230, 100, 264, 264, 308,
        90,  55,  94, 112, 136, 254, 299, 312, 273,  54, 246,  60, 165,
       222, 262,  65, 165,  61, 322, 254,  50, 185, 255, 322,  14, 101,
       343, 338, 269, 362, 312, 104, 290,  48, 189, 356, 207, 104,  15,
       166, 105, 107,  60, 244, 164,  12, 244, 192, 219,  31, 157, 340,
       214, 233, 184, 213, 245, 231,  14, 106, 251, 237, 242, 253,  64,
       180, 123, 286, 345, 354, 161, 105, 176,  18, 239, 167, 335, 317,
         5, 348, 109,  49,  91, 335, 187,  34,  75, 330, 268, 327,  42,
       298,  36, 191, 221,  44, 139, 311, 209, 168, 307, 134, 167,   2,
        23,  83, 250, 152, 256, 301, 319, 137, 115, 301, 349, 288, 216,
       364,  53, 137, 297, 316, 169, 240, 214,  64,  70, 355, 167, 316,
        39, 273, 177, 244,   4,  97, 158, 282, 252, 329, 351,  34,  93,
       334, 174, 274, 186,  87, 239,  51, 113, 320, 133,  71, 336, 120,
       137,  46, 356, 148, 109,  52, 337, 168, 298, 219, 312, 269,  52,
       216, 268,  36,  98, 273, 312, 305, 222, 202, 342, 248, 131, 297,
       272, 121,  47, 129, 343, 351, 124,  31,   8,  88, 266,  82, 191,
       309, 143, 308, 227, 175,  92, 186, 332, 201,  33, 282, 110, 358,
        95, 331, 302, 297, 238, 131,  97, 182,  91, 166,   1, 233, 149,
       131, 343, 188, 122,  37, 320, 129, 345, 206,   2, 330, 291, 362,
       207,  66, 108, 179, 342, 170, 346, 199, 139, 114, 136, 328, 351,
       253,  76, 246,  34, 231, 191, 198, 349, 201, 271,  92,  33,   1,
       364, 264, 138,  77, 120,   2, 196, 344,  66,  86,  36, 290,   4,
        46, 320, 143, 221, 220, 313,  75, 231, 225, 151, 178, 189, 191,
       303,  19, 304, 161, 103,  62, 186, 183,  64, 252, 122, 243, 323,
       251,  43, 182,  73, 268, 185,  75, 328,  66, 238, 223, 114, 308,
        72,  71, 213, 269, 103, 357, 354, 298,  39, 318, 258,  42, 186,
       282, 204, 266,  83, 108, 314,  65, 209, 172,  81, 345, 125, 125,
        56, 342, 112, 299,  90, 266, 329, 235, 278, 171,  18,  91, 254,
       212, 358, 290,  25, 175, 238,  88, 264, 254, 182,  90,  94])

In [9]:
days = np.arange(0, 365) * np.timedelta64(1, 'D')
days

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364], dtype='timedelta64[D]')

In [15]:
date_ = np.datetime64('2023-01-01') + days

In [11]:
np.recarray

numpy.recarray

In [13]:
id_ = np.arange(1, 366)

In [16]:
value_ = np.random.randint(1, 9119, 365)

In [21]:
structured_array = np.array(
    list(zip(id_, value_, date_)),
    dtype=[
        ('id', 'i4'),
        ('value', 'f4'),
        ('date', 'U20')
    ]
)
structured_array

array([(  1, 6721., '2023-01-01'), (  2, 7290., '2023-01-02'),
       (  3, 5553., '2023-01-03'), (  4, 6987., '2023-01-04'),
       (  5, 2025., '2023-01-05'), (  6, 7893., '2023-01-06'),
       (  7, 1907., '2023-01-07'), (  8,  647., '2023-01-08'),
       (  9,   35., '2023-01-09'), ( 10, 1589., '2023-01-10'),
       ( 11, 3421., '2023-01-11'), ( 12, 6451., '2023-01-12'),
       ( 13, 1440., '2023-01-13'), ( 14,  879., '2023-01-14'),
       ( 15, 3475., '2023-01-15'), ( 16, 3203., '2023-01-16'),
       ( 17, 5864., '2023-01-17'), ( 18, 3115., '2023-01-18'),
       ( 19,  808., '2023-01-19'), ( 20, 2958., '2023-01-20'),
       ( 21, 2422., '2023-01-21'), ( 22, 1813., '2023-01-22'),
       ( 23,  784., '2023-01-23'), ( 24,  401., '2023-01-24'),
       ( 25, 1955., '2023-01-25'), ( 26, 2702., '2023-01-26'),
       ( 27, 1361., '2023-01-27'), ( 28, 8280., '2023-01-28'),
       ( 29, 5444., '2023-01-29'), ( 30,  436., '2023-01-30'),
       ( 31,  467., '2023-01-31'), ( 32, 1911., '2023-02-01'),
       ( 33, 3226., '2023-02-02'), ( 34, 4184., '2023-02-03'),
       ( 35, 5155., '2023-02-04'), ( 36,  602., '2023-02-05'),
       ( 37, 8814., '2023-02-06'), ( 38,  640., '2023-02-07'),
       ( 39, 7994., '2023-02-08'), ( 40, 3710., '2023-02-09'),
       ( 41, 4340., '2023-02-10'), ( 42, 7008., '2023-02-11'),
       ( 43, 8192., '2023-02-12'), ( 44, 3409., '2023-02-13'),
       ( 45,  259., '2023-02-14'), ( 46, 1125., '2023-02-15'),
       ( 47, 7806., '2023-02-16'), ( 48, 4590., '2023-02-17'),
       ( 49, 5418., '2023-02-18'), ( 50, 8049., '2023-02-19'),
       ( 51, 1891., '2023-02-20'), ( 52, 5373., '2023-02-21'),
       ( 53,  435., '2023-02-22'), ( 54, 8311., '2023-02-23'),
       ( 55, 6554., '2023-02-24'), ( 56, 8313., '2023-02-25'),
       ( 57, 7835., '2023-02-26'), ( 58, 2727., '2023-02-27'),
       ( 59, 8133., '2023-02-28'), ( 60, 6543., '2023-03-01'),
       ( 61, 5370., '2023-03-02'), ( 62, 8246., '2023-03-03'),
       ( 63, 1642., '2023-03-04'), ( 64,  680., '2023-03-05'),
       ( 65, 8181., '2023-03-06'), ( 66, 3089., '2023-03-07'),
       ( 67, 2213., '2023-03-08'), ( 68, 6271., '2023-03-09'),
       ( 69, 4890., '2023-03-10'), ( 70, 1025., '2023-03-11'),
       ( 71, 4021., '2023-03-12'), ( 72, 5096., '2023-03-13'),
       ( 73, 3419., '2023-03-14'), ( 74, 6412., '2023-03-15'),
       ( 75, 2564., '2023-03-16'), ( 76, 6241., '2023-03-17'),
       ( 77, 4394., '2023-03-18'), ( 78, 6998., '2023-03-19'),
       ( 79, 9111., '2023-03-20'), ( 80, 3670., '2023-03-21'),
       ( 81, 8000., '2023-03-22'), ( 82, 4710., '2023-03-23'),
       ( 83, 8413., '2023-03-24'), ( 84, 4597., '2023-03-25'),
       ( 85, 8419., '2023-03-26'), ( 86, 2572., '2023-03-27'),
       ( 87, 1244., '2023-03-28'), ( 88,  311., '2023-03-29'),
       ( 89, 4917., '2023-03-30'), ( 90, 3292., '2023-03-31'),
       ( 91, 7518., '2023-04-01'), ( 92, 3045., '2023-04-02'),
       ( 93, 6719., '2023-04-03'), ( 94,  923., '2023-04-04'),
       ( 95, 3369., '2023-04-05'), ( 96, 2896., '2023-04-06'),
       ( 97,  314., '2023-04-07'), ( 98, 6783., '2023-04-08'),
       ( 99, 7318., '2023-04-09'), (100, 5732., '2023-04-10'),
       (101,  345., '2023-04-11'), (102, 5053., '2023-04-12'),
       (103, 4928., '2023-04-13'), (104, 2695., '2023-04-14'),
       (105, 2107., '2023-04-15'), (106, 1860., '2023-04-16'),
       (107, 8618., '2023-04-17'), (108, 5299., '2023-04-18'),
       (109, 2265., '2023-04-19'), (110, 9108., '2023-04-20'),
       (111, 5826., '2023-04-21'), (112, 4985., '2023-04-22'),
       (113, 4247., '2023-04-23'), (114, 5467., '2023-04-24'),
       (115, 1537., '2023-04-25'), (116, 1687., '2023-04-26'),
       (117, 1431., '2023-04-27'), (118,  290., '2023-04-28'),
       (119, 3980., '2023-04-29'), (120, 7284., '2023-04-30'),
       (121, 7309., '2023-05-01'), (122, 8940., '2023-05-02'),
       (123,   60., '2023-05-03'), (124, 6594., '2023-05-04'),
       (125, 1291., '2023-05-05'), (126,  881., '2023-05-06'),
       (127, 4002., '2023-05-07'), (128, 6068., '2023-05-08'),
       (129, 1591., '2023-05-09'), (130, 3047., '2023-05-10'),
       (131, 4879., '2023-05-11'), (132, 1824., '2023-05-12'),
       (133, 7045., '2023-05-13'), (134, 1447., '2023-05-14'),
       (135, 2848., '2023-05-15'), (136, 3274., '2023-05-16'),
       (137, 4954., '2023-05-17'), (138, 8589., '2023-05-18'),
       (139, 3348., '2023-05-19'), (140, 7047., '2023-05-20'),
       (141, 4742., '2023-05-21'), (142, 3563., '2023-05-22'),
       (143, 4909., '2023-05-23'), (144, 7935., '2023-05-24'),
       (145, 3869., '2023-05-25'), (146, 8634., '2023-05-26'),
       (147, 1292., '2023-05-27'), (148, 2370., '2023-05-28'),
       (149, 1539., '2023-05-29'), (150, 5191., '2023-05-30'),
       (151, 6911., '2023-05-31'), (152, 7782., '2023-06-01'),
       (153, 3763., '2023-06-02'), (154, 6024., '2023-06-03'),
       (155, 6457., '2023-06-04'), (156, 1619., '2023-06-05'),
       (157, 6975., '2023-06-06'), (158, 7602., '2023-06-07'),
       (159, 8829., '2023-06-08'), (160,   39., '2023-06-09'),
       (161, 3103., '2023-06-10'), (162, 3666., '2023-06-11'),
       (163, 3054., '2023-06-12'), (164, 5820., '2023-06-13'),
       (165, 8660., '2023-06-14'), (166, 6613., '2023-06-15'),
       (167,  445., '2023-06-16'), (168, 1118., '2023-06-17'),
       (169, 2308., '2023-06-18'), (170, 7713., '2023-06-19'),
       (171, 1191., '2023-06-20'), (172, 6308., '2023-06-21'),
       (173, 1877., '2023-06-22'), (174,  760., '2023-06-23'),
       (175, 5343., '2023-06-24'), (176, 8535., '2023-06-25'),
       (177,  990., '2023-06-26'), (178, 8728., '2023-06-27'),
       (179, 3883., '2023-06-28'), (180, 3972., '2023-06-29'),
       (181, 7380., '2023-06-30'), (182, 6874., '2023-07-01'),
       (183, 1074., '2023-07-02'), (184, 5099., '2023-07-03'),
       (185, 3591., '2023-07-04'), (186, 8934., '2023-07-05'),
       (187, 1681., '2023-07-06'), (188, 3744., '2023-07-07'),
       (189, 8797., '2023-07-08'), (190,  815., '2023-07-09'),
       (191, 3308., '2023-07-10'), (192, 7087., '2023-07-11'),
       (193,  761., '2023-07-12'), (194, 5324., '2023-07-13'),
       (195, 6126., '2023-07-14'), (196, 3893., '2023-07-15'),
       (197, 2402., '2023-07-16'), (198, 6579., '2023-07-17'),
       (199, 7108., '2023-07-18'), (200, 7080., '2023-07-19'),
       (201, 1825., '2023-07-20'), (202, 4229., '2023-07-21'),
       (203,  611., '2023-07-22'), (204, 5285., '2023-07-23'),
       (205, 3887., '2023-07-24'), (206, 7411., '2023-07-25'),
       (207, 3642., '2023-07-26'), (208, 1350., '2023-07-27'),
       (209, 7030., '2023-07-28'), (210, 4744., '2023-07-29'),
       (211, 8764., '2023-07-30'), (212,  807., '2023-07-31'),
       (213, 6888., '2023-08-01'), (214, 5176., '2023-08-02'),
       (215, 1955., '2023-08-03'), (216, 1884., '2023-08-04'),
       (217, 5502., '2023-08-05'), (218, 8096., '2023-08-06'),
       (219, 8529., '2023-08-07'), (220, 6168., '2023-08-08'),
       (221, 4144., '2023-08-09'), (222, 6234., '2023-08-10'),
       (223, 6628., '2023-08-11'), (224, 3551., '2023-08-12'),
       (225, 4891., '2023-08-13'), (226,  879., '2023-08-14'),
       (227, 6758., '2023-08-15'), (228, 6329., '2023-08-16'),
       (229, 6929., '2023-08-17'), (230, 4166., '2023-08-18'),
       (231, 7410., '2023-08-19'), (232, 8862., '2023-08-20'),
       (233, 8864., '2023-08-21'), (234, 7105., '2023-08-22'),
       (235, 8312., '2023-08-23'), (236,  186., '2023-08-24'),
       (237, 6321., '2023-08-25'), (238, 7634., '2023-08-26'),
       (239, 8230., '2023-08-27'), (240, 1243., '2023-08-28'),
       (241, 4097., '2023-08-29'), (242, 5412., '2023-08-30'),
       (243, 1350., '2023-08-31'), (244, 6625., '2023-09-01'),
       (245, 6523., '2023-09-02'), (246, 1560., '2023-09-03'),
       (247, 4786., '2023-09-04'), (248, 4251., '2023-09-05'),
       (249, 3860., '2023-09-06'), (250, 9083., '2023-09-07'),
       (251, 2073., '2023-09-08'), (252,  142., '2023-09-09'),
       (253, 4081., '2023-09-10'), (254, 7356., '2023-09-11'),
       (255, 8113., '2023-09-12'), (256, 4795., '2023-09-13'),
       (257, 5599., '2023-09-14'), (258, 2304., '2023-09-15'),
       (259,  408., '2023-09-16'), (260, 5403., '2023-09-17'),
       (261, 4493., '2023-09-18'), (262, 8733., '2023-09-19'),
       (263,   11., '2023-09-20'), (264, 8412., '2023-09-21'),
       (265, 5794., '2023-09-22'), (266, 4013., '2023-09-23'),
       (267, 1055., '2023-09-24'), (268, 6373., '2023-09-25'),
       (269, 1027., '2023-09-26'), (270, 2482., '2023-09-27'),
       (271,  428., '2023-09-28'), (272, 5941., '2023-09-29'),
       (273, 4281., '2023-09-30'), (274, 1194., '2023-10-01'),
       (275, 4789., '2023-10-02'), (276,  491., '2023-10-03'),
       (277, 3183., '2023-10-04'), (278, 4770., '2023-10-05'),
       (279, 4186., '2023-10-06'), (280, 1186., '2023-10-07'),
       (281, 7613., '2023-10-08'), (282, 7203., '2023-10-09'),
       (283, 3789., '2023-10-10'), (284, 8111., '2023-10-11'),
       (285, 6817., '2023-10-12'), (286, 7689., '2023-10-13'),
       (287, 3124., '2023-10-14'), (288, 7334., '2023-10-15'),
       (289, 4559., '2023-10-16'), (290, 1768., '2023-10-17'),
       (291, 1165., '2023-10-18'), (292,  212., '2023-10-19'),
       (293,  709., '2023-10-20'), (294, 6834., '2023-10-21'),
       (295, 7451., '2023-10-22'), (296, 4623., '2023-10-23'),
       (297, 3134., '2023-10-24'), (298, 5142., '2023-10-25'),
       (299, 3112., '2023-10-26'), (300, 6373., '2023-10-27'),
       (301, 3063., '2023-10-28'), (302, 3194., '2023-10-29'),
       (303,  738., '2023-10-30'), (304, 8038., '2023-10-31'),
       (305, 4978., '2023-11-01'), (306, 6128., '2023-11-02'),
       (307, 2633., '2023-11-03'), (308, 9068., '2023-11-04'),
       (309,  178., '2023-11-05'), (310, 4977., '2023-11-06'),
       (311, 4903., '2023-11-07'), (312,  707., '2023-11-08'),
       (313, 8191., '2023-11-09'), (314, 6488., '2023-11-10'),
       (315, 7345., '2023-11-11'), (316, 4923., '2023-11-12'),
       (317, 1743., '2023-11-13'), (318, 4015., '2023-11-14'),
       (319, 5214., '2023-11-15'), (320, 5826., '2023-11-16'),
       (321, 3095., '2023-11-17'), (322,  517., '2023-11-18'),
       (323, 2705., '2023-11-19'), (324, 7841., '2023-11-20'),
       (325, 8444., '2023-11-21'), (326, 5823., '2023-11-22'),
       (327, 7767., '2023-11-23'), (328, 8575., '2023-11-24'),
       (329,  363., '2023-11-25'), (330, 5489., '2023-11-26'),
       (331, 2847., '2023-11-27'), (332, 5974., '2023-11-28'),
       (333, 6046., '2023-11-29'), (334, 4808., '2023-11-30'),
       (335,  125., '2023-12-01'), (336, 2187., '2023-12-02'),
       (337, 7316., '2023-12-03'), (338, 1632., '2023-12-04'),
       (339, 4727., '2023-12-05'), (340, 2510., '2023-12-06'),
       (341, 3277., '2023-12-07'), (342, 1939., '2023-12-08'),
       (343, 6630., '2023-12-09'), (344, 6864., '2023-12-10'),
       (345, 4477., '2023-12-11'), (346, 2739., '2023-12-12'),
       (347, 1537., '2023-12-13'), (348, 1924., '2023-12-14'),
       (349, 1066., '2023-12-15'), (350, 1126., '2023-12-16'),
       (351, 4612., '2023-12-17'), (352, 2811., '2023-12-18'),
       (353, 2814., '2023-12-19'), (354, 7269., '2023-12-20'),
       (355, 1141., '2023-12-21'), (356, 2151., '2023-12-22'),
       (357,  150., '2023-12-23'), (358, 1654., '2023-12-24'),
       (359, 1831., '2023-12-25'), (360, 1078., '2023-12-26'),
       (361, 7797., '2023-12-27'), (362, 6883., '2023-12-28'),
       (363, 3952., '2023-12-29'), (364, 5055., '2023-12-30'),
       (365, 2716., '2023-12-31')],
      dtype=[('id', '<i4'), ('value', '<f4'), ('date', '<U20')])

In [24]:
np.core.records.fromarrays(
    [id_, value_, date_],
    names='id, value, date',
    formats='i4, f4, U20'
)

ValueError: array-shape mismatch in array 1 ("value")

In [28]:
np.savetxt('./records.csv', structured_array, fmt='%i, %04f, %s')

In [4]:
import numpy as np
np.genfromtxt

<function numpy.genfromtxt(fname, dtype=<class 'float'>, comments='#', delimiter=None, skip_header=0, skip_footer=0, converters=None, missing_values=None, filling_values=None, usecols=None, names=None, excludelist=None, deletechars=" !#$%&'()*+,-./:;<=>?@[\\]^{|}~", replace_space='_', autostrip=False, case_sensitive=True, defaultfmt='f%i', unpack=None, usemask=False, loose=True, invalid_raise=True, max_rows=None, encoding='bytes', *, ndmin=0, like=None)>

In [5]:
np.genfromtxt(
    './records.csv',
    dtype='i4, f4, U20'
)

array([(-1, nan, '2023-01-01'), (-1, nan, '2023-01-02'),
       (-1, nan, '2023-01-03'), (-1, nan, '2023-01-04'),
       (-1, nan, '2023-01-05'), (-1, nan, '2023-01-06'),
       (-1, nan, '2023-01-07'), (-1, nan, '2023-01-08'),
       (-1, nan, '2023-01-09'), (-1, nan, '2023-01-10'),
       (-1, nan, '2023-01-11'), (-1, nan, '2023-01-12'),
       (-1, nan, '2023-01-13'), (-1, nan, '2023-01-14'),
       (-1, nan, '2023-01-15'), (-1, nan, '2023-01-16'),
       (-1, nan, '2023-01-17'), (-1, nan, '2023-01-18'),
       (-1, nan, '2023-01-19'), (-1, nan, '2023-01-20'),
       (-1, nan, '2023-01-21'), (-1, nan, '2023-01-22'),
       (-1, nan, '2023-01-23'), (-1, nan, '2023-01-24'),
       (-1, nan, '2023-01-25'), (-1, nan, '2023-01-26'),
       (-1, nan, '2023-01-27'), (-1, nan, '2023-01-28'),
       (-1, nan, '2023-01-29'), (-1, nan, '2023-01-30'),
       (-1, nan, '2023-01-31'), (-1, nan, '2023-02-01'),
       (-1, nan, '2023-02-02'), (-1, nan, '2023-02-03'),
       (-1, nan, '2023-02-04'), (-1, nan, '2023-02-05'),
       (-1, nan, '2023-02-06'), (-1, nan, '2023-02-07'),
       (-1, nan, '2023-02-08'), (-1, nan, '2023-02-09'),
       (-1, nan, '2023-02-10'), (-1, nan, '2023-02-11'),
       (-1, nan, '2023-02-12'), (-1, nan, '2023-02-13'),
       (-1, nan, '2023-02-14'), (-1, nan, '2023-02-15'),
       (-1, nan, '2023-02-16'), (-1, nan, '2023-02-17'),
       (-1, nan, '2023-02-18'), (-1, nan, '2023-02-19'),
       (-1, nan, '2023-02-20'), (-1, nan, '2023-02-21'),
       (-1, nan, '2023-02-22'), (-1, nan, '2023-02-23'),
       (-1, nan, '2023-02-24'), (-1, nan, '2023-02-25'),
       (-1, nan, '2023-02-26'), (-1, nan, '2023-02-27'),
       (-1, nan, '2023-02-28'), (-1, nan, '2023-03-01'),
       (-1, nan, '2023-03-02'), (-1, nan, '2023-03-03'),
       (-1, nan, '2023-03-04'), (-1, nan, '2023-03-05'),
       (-1, nan, '2023-03-06'), (-1, nan, '2023-03-07'),
       (-1, nan, '2023-03-08'), (-1, nan, '2023-03-09'),
       (-1, nan, '2023-03-10'), (-1, nan, '2023-03-11'),
       (-1, nan, '2023-03-12'), (-1, nan, '2023-03-13'),
       (-1, nan, '2023-03-14'), (-1, nan, '2023-03-15'),
       (-1, nan, '2023-03-16'), (-1, nan, '2023-03-17'),
       (-1, nan, '2023-03-18'), (-1, nan, '2023-03-19'),
       (-1, nan, '2023-03-20'), (-1, nan, '2023-03-21'),
       (-1, nan, '2023-03-22'), (-1, nan, '2023-03-23'),
       (-1, nan, '2023-03-24'), (-1, nan, '2023-03-25'),
       (-1, nan, '2023-03-26'), (-1, nan, '2023-03-27'),
       (-1, nan, '2023-03-28'), (-1, nan, '2023-03-29'),
       (-1, nan, '2023-03-30'), (-1, nan, '2023-03-31'),
       (-1, nan, '2023-04-01'), (-1, nan, '2023-04-02'),
       (-1, nan, '2023-04-03'), (-1, nan, '2023-04-04'),
       (-1, nan, '2023-04-05'), (-1, nan, '2023-04-06'),
       (-1, nan, '2023-04-07'), (-1, nan, '2023-04-08'),
       (-1, nan, '2023-04-09'), (-1, nan, '2023-04-10'),
       (-1, nan, '2023-04-11'), (-1, nan, '2023-04-12'),
       (-1, nan, '2023-04-13'), (-1, nan, '2023-04-14'),
       (-1, nan, '2023-04-15'), (-1, nan, '2023-04-16'),
       (-1, nan, '2023-04-17'), (-1, nan, '2023-04-18'),
       (-1, nan, '2023-04-19'), (-1, nan, '2023-04-20'),
       (-1, nan, '2023-04-21'), (-1, nan, '2023-04-22'),
       (-1, nan, '2023-04-23'), (-1, nan, '2023-04-24'),
       (-1, nan, '2023-04-25'), (-1, nan, '2023-04-26'),
       (-1, nan, '2023-04-27'), (-1, nan, '2023-04-28'),
       (-1, nan, '2023-04-29'), (-1, nan, '2023-04-30'),
       (-1, nan, '2023-05-01'), (-1, nan, '2023-05-02'),
       (-1, nan, '2023-05-03'), (-1, nan, '2023-05-04'),
       (-1, nan, '2023-05-05'), (-1, nan, '2023-05-06'),
       (-1, nan, '2023-05-07'), (-1, nan, '2023-05-08'),
       (-1, nan, '2023-05-09'), (-1, nan, '2023-05-10'),
       (-1, nan, '2023-05-11'), (-1, nan, '2023-05-12'),
       (-1, nan, '2023-05-13'), (-1, nan, '2023-05-14'),
       (-1, nan, '2023-05-15'), (-1, nan, '2023-05-16'),
       (-1, nan, '2023-05-17'), (-1, nan, '2023-05-18'),
       (-1, nan, '2023-05-19'), (-1, nan, '2023-05-20'),
       (-1, nan, '2023-05-21'), (-1, nan, '2023-05-22'),
       (-1, nan, '2023-05-23'), (-1, nan, '2023-05-24'),
       (-1, nan, '2023-05-25'), (-1, nan, '2023-05-26'),
       (-1, nan, '2023-05-27'), (-1, nan, '2023-05-28'),
       (-1, nan, '2023-05-29'), (-1, nan, '2023-05-30'),
       (-1, nan, '2023-05-31'), (-1, nan, '2023-06-01'),
       (-1, nan, '2023-06-02'), (-1, nan, '2023-06-03'),
       (-1, nan, '2023-06-04'), (-1, nan, '2023-06-05'),
       (-1, nan, '2023-06-06'), (-1, nan, '2023-06-07'),
       (-1, nan, '2023-06-08'), (-1, nan, '2023-06-09'),
       (-1, nan, '2023-06-10'), (-1, nan, '2023-06-11'),
       (-1, nan, '2023-06-12'), (-1, nan, '2023-06-13'),
       (-1, nan, '2023-06-14'), (-1, nan, '2023-06-15'),
       (-1, nan, '2023-06-16'), (-1, nan, '2023-06-17'),
       (-1, nan, '2023-06-18'), (-1, nan, '2023-06-19'),
       (-1, nan, '2023-06-20'), (-1, nan, '2023-06-21'),
       (-1, nan, '2023-06-22'), (-1, nan, '2023-06-23'),
       (-1, nan, '2023-06-24'), (-1, nan, '2023-06-25'),
       (-1, nan, '2023-06-26'), (-1, nan, '2023-06-27'),
       (-1, nan, '2023-06-28'), (-1, nan, '2023-06-29'),
       (-1, nan, '2023-06-30'), (-1, nan, '2023-07-01'),
       (-1, nan, '2023-07-02'), (-1, nan, '2023-07-03'),
       (-1, nan, '2023-07-04'), (-1, nan, '2023-07-05'),
       (-1, nan, '2023-07-06'), (-1, nan, '2023-07-07'),
       (-1, nan, '2023-07-08'), (-1, nan, '2023-07-09'),
       (-1, nan, '2023-07-10'), (-1, nan, '2023-07-11'),
       (-1, nan, '2023-07-12'), (-1, nan, '2023-07-13'),
       (-1, nan, '2023-07-14'), (-1, nan, '2023-07-15'),
       (-1, nan, '2023-07-16'), (-1, nan, '2023-07-17'),
       (-1, nan, '2023-07-18'), (-1, nan, '2023-07-19'),
       (-1, nan, '2023-07-20'), (-1, nan, '2023-07-21'),
       (-1, nan, '2023-07-22'), (-1, nan, '2023-07-23'),
       (-1, nan, '2023-07-24'), (-1, nan, '2023-07-25'),
       (-1, nan, '2023-07-26'), (-1, nan, '2023-07-27'),
       (-1, nan, '2023-07-28'), (-1, nan, '2023-07-29'),
       (-1, nan, '2023-07-30'), (-1, nan, '2023-07-31'),
       (-1, nan, '2023-08-01'), (-1, nan, '2023-08-02'),
       (-1, nan, '2023-08-03'), (-1, nan, '2023-08-04'),
       (-1, nan, '2023-08-05'), (-1, nan, '2023-08-06'),
       (-1, nan, '2023-08-07'), (-1, nan, '2023-08-08'),
       (-1, nan, '2023-08-09'), (-1, nan, '2023-08-10'),
       (-1, nan, '2023-08-11'), (-1, nan, '2023-08-12'),
       (-1, nan, '2023-08-13'), (-1, nan, '2023-08-14'),
       (-1, nan, '2023-08-15'), (-1, nan, '2023-08-16'),
       (-1, nan, '2023-08-17'), (-1, nan, '2023-08-18'),
       (-1, nan, '2023-08-19'), (-1, nan, '2023-08-20'),
       (-1, nan, '2023-08-21'), (-1, nan, '2023-08-22'),
       (-1, nan, '2023-08-23'), (-1, nan, '2023-08-24'),
       (-1, nan, '2023-08-25'), (-1, nan, '2023-08-26'),
       (-1, nan, '2023-08-27'), (-1, nan, '2023-08-28'),
       (-1, nan, '2023-08-29'), (-1, nan, '2023-08-30'),
       (-1, nan, '2023-08-31'), (-1, nan, '2023-09-01'),
       (-1, nan, '2023-09-02'), (-1, nan, '2023-09-03'),
       (-1, nan, '2023-09-04'), (-1, nan, '2023-09-05'),
       (-1, nan, '2023-09-06'), (-1, nan, '2023-09-07'),
       (-1, nan, '2023-09-08'), (-1, nan, '2023-09-09'),
       (-1, nan, '2023-09-10'), (-1, nan, '2023-09-11'),
       (-1, nan, '2023-09-12'), (-1, nan, '2023-09-13'),
       (-1, nan, '2023-09-14'), (-1, nan, '2023-09-15'),
       (-1, nan, '2023-09-16'), (-1, nan, '2023-09-17'),
       (-1, nan, '2023-09-18'), (-1, nan, '2023-09-19'),
       (-1, nan, '2023-09-20'), (-1, nan, '2023-09-21'),
       (-1, nan, '2023-09-22'), (-1, nan, '2023-09-23'),
       (-1, nan, '2023-09-24'), (-1, nan, '2023-09-25'),
       (-1, nan, '2023-09-26'), (-1, nan, '2023-09-27'),
       (-1, nan, '2023-09-28'), (-1, nan, '2023-09-29'),
       (-1, nan, '2023-09-30'), (-1, nan, '2023-10-01'),
       (-1, nan, '2023-10-02'), (-1, nan, '2023-10-03'),
       (-1, nan, '2023-10-04'), (-1, nan, '2023-10-05'),
       (-1, nan, '2023-10-06'), (-1, nan, '2023-10-07'),
       (-1, nan, '2023-10-08'), (-1, nan, '2023-10-09'),
       (-1, nan, '2023-10-10'), (-1, nan, '2023-10-11'),
       (-1, nan, '2023-10-12'), (-1, nan, '2023-10-13'),
       (-1, nan, '2023-10-14'), (-1, nan, '2023-10-15'),
       (-1, nan, '2023-10-16'), (-1, nan, '2023-10-17'),
       (-1, nan, '2023-10-18'), (-1, nan, '2023-10-19'),
       (-1, nan, '2023-10-20'), (-1, nan, '2023-10-21'),
       (-1, nan, '2023-10-22'), (-1, nan, '2023-10-23'),
       (-1, nan, '2023-10-24'), (-1, nan, '2023-10-25'),
       (-1, nan, '2023-10-26'), (-1, nan, '2023-10-27'),
       (-1, nan, '2023-10-28'), (-1, nan, '2023-10-29'),
       (-1, nan, '2023-10-30'), (-1, nan, '2023-10-31'),
       (-1, nan, '2023-11-01'), (-1, nan, '2023-11-02'),
       (-1, nan, '2023-11-03'), (-1, nan, '2023-11-04'),
       (-1, nan, '2023-11-05'), (-1, nan, '2023-11-06'),
       (-1, nan, '2023-11-07'), (-1, nan, '2023-11-08'),
       (-1, nan, '2023-11-09'), (-1, nan, '2023-11-10'),
       (-1, nan, '2023-11-11'), (-1, nan, '2023-11-12'),
       (-1, nan, '2023-11-13'), (-1, nan, '2023-11-14'),
       (-1, nan, '2023-11-15'), (-1, nan, '2023-11-16'),
       (-1, nan, '2023-11-17'), (-1, nan, '2023-11-18'),
       (-1, nan, '2023-11-19'), (-1, nan, '2023-11-20'),
       (-1, nan, '2023-11-21'), (-1, nan, '2023-11-22'),
       (-1, nan, '2023-11-23'), (-1, nan, '2023-11-24'),
       (-1, nan, '2023-11-25'), (-1, nan, '2023-11-26'),
       (-1, nan, '2023-11-27'), (-1, nan, '2023-11-28'),
       (-1, nan, '2023-11-29'), (-1, nan, '2023-11-30'),
       (-1, nan, '2023-12-01'), (-1, nan, '2023-12-02'),
       (-1, nan, '2023-12-03'), (-1, nan, '2023-12-04'),
       (-1, nan, '2023-12-05'), (-1, nan, '2023-12-06'),
       (-1, nan, '2023-12-07'), (-1, nan, '2023-12-08'),
       (-1, nan, '2023-12-09'), (-1, nan, '2023-12-10'),
       (-1, nan, '2023-12-11'), (-1, nan, '2023-12-12'),
       (-1, nan, '2023-12-13'), (-1, nan, '2023-12-14'),
       (-1, nan, '2023-12-15'), (-1, nan, '2023-12-16'),
       (-1, nan, '2023-12-17'), (-1, nan, '2023-12-18'),
       (-1, nan, '2023-12-19'), (-1, nan, '2023-12-20'),
       (-1, nan, '2023-12-21'), (-1, nan, '2023-12-22'),
       (-1, nan, '2023-12-23'), (-1, nan, '2023-12-24'),
       (-1, nan, '2023-12-25'), (-1, nan, '2023-12-26'),
       (-1, nan, '2023-12-27'), (-1, nan, '2023-12-28'),
       (-1, nan, '2023-12-29'), (-1, nan, '2023-12-30'),
       (-1, nan, '2023-12-31')],
      dtype=[('f0', '<i4'), ('f1', '<f4'), ('f2', '<U20')])

In [6]:
np.genfromtxt(
    './records.csv',
    dtype='i4, f4, U20',
    delimiter=','
)

array([(  1, 6721., ' 2023-01-01'), (  2, 7290., ' 2023-01-02'),
       (  3, 5553., ' 2023-01-03'), (  4, 6987., ' 2023-01-04'),
       (  5, 2025., ' 2023-01-05'), (  6, 7893., ' 2023-01-06'),
       (  7, 1907., ' 2023-01-07'), (  8,  647., ' 2023-01-08'),
       (  9,   35., ' 2023-01-09'), ( 10, 1589., ' 2023-01-10'),
       ( 11, 3421., ' 2023-01-11'), ( 12, 6451., ' 2023-01-12'),
       ( 13, 1440., ' 2023-01-13'), ( 14,  879., ' 2023-01-14'),
       ( 15, 3475., ' 2023-01-15'), ( 16, 3203., ' 2023-01-16'),
       ( 17, 5864., ' 2023-01-17'), ( 18, 3115., ' 2023-01-18'),
       ( 19,  808., ' 2023-01-19'), ( 20, 2958., ' 2023-01-20'),
       ( 21, 2422., ' 2023-01-21'), ( 22, 1813., ' 2023-01-22'),
       ( 23,  784., ' 2023-01-23'), ( 24,  401., ' 2023-01-24'),
       ( 25, 1955., ' 2023-01-25'), ( 26, 2702., ' 2023-01-26'),
       ( 27, 1361., ' 2023-01-27'), ( 28, 8280., ' 2023-01-28'),
       ( 29, 5444., ' 2023-01-29'), ( 30,  436., ' 2023-01-30'),
       ( 31,  467., ' 2023-01-31'), ( 32, 1911., ' 2023-02-01'),
       ( 33, 3226., ' 2023-02-02'), ( 34, 4184., ' 2023-02-03'),
       ( 35, 5155., ' 2023-02-04'), ( 36,  602., ' 2023-02-05'),
       ( 37, 8814., ' 2023-02-06'), ( 38,  640., ' 2023-02-07'),
       ( 39, 7994., ' 2023-02-08'), ( 40, 3710., ' 2023-02-09'),
       ( 41, 4340., ' 2023-02-10'), ( 42, 7008., ' 2023-02-11'),
       ( 43, 8192., ' 2023-02-12'), ( 44, 3409., ' 2023-02-13'),
       ( 45,  259., ' 2023-02-14'), ( 46, 1125., ' 2023-02-15'),
       ( 47, 7806., ' 2023-02-16'), ( 48, 4590., ' 2023-02-17'),
       ( 49, 5418., ' 2023-02-18'), ( 50, 8049., ' 2023-02-19'),
       ( 51, 1891., ' 2023-02-20'), ( 52, 5373., ' 2023-02-21'),
       ( 53,  435., ' 2023-02-22'), ( 54, 8311., ' 2023-02-23'),
       ( 55, 6554., ' 2023-02-24'), ( 56, 8313., ' 2023-02-25'),
       ( 57, 7835., ' 2023-02-26'), ( 58, 2727., ' 2023-02-27'),
       ( 59, 8133., ' 2023-02-28'), ( 60, 6543., ' 2023-03-01'),
       ( 61, 5370., ' 2023-03-02'), ( 62, 8246., ' 2023-03-03'),
       ( 63, 1642., ' 2023-03-04'), ( 64,  680., ' 2023-03-05'),
       ( 65, 8181., ' 2023-03-06'), ( 66, 3089., ' 2023-03-07'),
       ( 67, 2213., ' 2023-03-08'), ( 68, 6271., ' 2023-03-09'),
       ( 69, 4890., ' 2023-03-10'), ( 70, 1025., ' 2023-03-11'),
       ( 71, 4021., ' 2023-03-12'), ( 72, 5096., ' 2023-03-13'),
       ( 73, 3419., ' 2023-03-14'), ( 74, 6412., ' 2023-03-15'),
       ( 75, 2564., ' 2023-03-16'), ( 76, 6241., ' 2023-03-17'),
       ( 77, 4394., ' 2023-03-18'), ( 78, 6998., ' 2023-03-19'),
       ( 79, 9111., ' 2023-03-20'), ( 80, 3670., ' 2023-03-21'),
       ( 81, 8000., ' 2023-03-22'), ( 82, 4710., ' 2023-03-23'),
       ( 83, 8413., ' 2023-03-24'), ( 84, 4597., ' 2023-03-25'),
       ( 85, 8419., ' 2023-03-26'), ( 86, 2572., ' 2023-03-27'),
       ( 87, 1244., ' 2023-03-28'), ( 88,  311., ' 2023-03-29'),
       ( 89, 4917., ' 2023-03-30'), ( 90, 3292., ' 2023-03-31'),
       ( 91, 7518., ' 2023-04-01'), ( 92, 3045., ' 2023-04-02'),
       ( 93, 6719., ' 2023-04-03'), ( 94,  923., ' 2023-04-04'),
       ( 95, 3369., ' 2023-04-05'), ( 96, 2896., ' 2023-04-06'),
       ( 97,  314., ' 2023-04-07'), ( 98, 6783., ' 2023-04-08'),
       ( 99, 7318., ' 2023-04-09'), (100, 5732., ' 2023-04-10'),
       (101,  345., ' 2023-04-11'), (102, 5053., ' 2023-04-12'),
       (103, 4928., ' 2023-04-13'), (104, 2695., ' 2023-04-14'),
       (105, 2107., ' 2023-04-15'), (106, 1860., ' 2023-04-16'),
       (107, 8618., ' 2023-04-17'), (108, 5299., ' 2023-04-18'),
       (109, 2265., ' 2023-04-19'), (110, 9108., ' 2023-04-20'),
       (111, 5826., ' 2023-04-21'), (112, 4985., ' 2023-04-22'),
       (113, 4247., ' 2023-04-23'), (114, 5467., ' 2023-04-24'),
       (115, 1537., ' 2023-04-25'), (116, 1687., ' 2023-04-26'),
       (117, 1431., ' 2023-04-27'), (118,  290., ' 2023-04-28'),
       (119, 3980., ' 2023-04-29'), (120, 7284., ' 2023-04-30'),
       (121, 7309., ' 2023-05-01'), (122, 8940., ' 2023-05-02'),
       (123,   60., ' 2023-05-03'), (124, 6594., ' 2023-05-04'),
       (125, 1291., ' 2023-05-05'), (126,  881., ' 2023-05-06'),
       (127, 4002., ' 2023-05-07'), (128, 6068., ' 2023-05-08'),
       (129, 1591., ' 2023-05-09'), (130, 3047., ' 2023-05-10'),
       (131, 4879., ' 2023-05-11'), (132, 1824., ' 2023-05-12'),
       (133, 7045., ' 2023-05-13'), (134, 1447., ' 2023-05-14'),
       (135, 2848., ' 2023-05-15'), (136, 3274., ' 2023-05-16'),
       (137, 4954., ' 2023-05-17'), (138, 8589., ' 2023-05-18'),
       (139, 3348., ' 2023-05-19'), (140, 7047., ' 2023-05-20'),
       (141, 4742., ' 2023-05-21'), (142, 3563., ' 2023-05-22'),
       (143, 4909., ' 2023-05-23'), (144, 7935., ' 2023-05-24'),
       (145, 3869., ' 2023-05-25'), (146, 8634., ' 2023-05-26'),
       (147, 1292., ' 2023-05-27'), (148, 2370., ' 2023-05-28'),
       (149, 1539., ' 2023-05-29'), (150, 5191., ' 2023-05-30'),
       (151, 6911., ' 2023-05-31'), (152, 7782., ' 2023-06-01'),
       (153, 3763., ' 2023-06-02'), (154, 6024., ' 2023-06-03'),
       (155, 6457., ' 2023-06-04'), (156, 1619., ' 2023-06-05'),
       (157, 6975., ' 2023-06-06'), (158, 7602., ' 2023-06-07'),
       (159, 8829., ' 2023-06-08'), (160,   39., ' 2023-06-09'),
       (161, 3103., ' 2023-06-10'), (162, 3666., ' 2023-06-11'),
       (163, 3054., ' 2023-06-12'), (164, 5820., ' 2023-06-13'),
       (165, 8660., ' 2023-06-14'), (166, 6613., ' 2023-06-15'),
       (167,  445., ' 2023-06-16'), (168, 1118., ' 2023-06-17'),
       (169, 2308., ' 2023-06-18'), (170, 7713., ' 2023-06-19'),
       (171, 1191., ' 2023-06-20'), (172, 6308., ' 2023-06-21'),
       (173, 1877., ' 2023-06-22'), (174,  760., ' 2023-06-23'),
       (175, 5343., ' 2023-06-24'), (176, 8535., ' 2023-06-25'),
       (177,  990., ' 2023-06-26'), (178, 8728., ' 2023-06-27'),
       (179, 3883., ' 2023-06-28'), (180, 3972., ' 2023-06-29'),
       (181, 7380., ' 2023-06-30'), (182, 6874., ' 2023-07-01'),
       (183, 1074., ' 2023-07-02'), (184, 5099., ' 2023-07-03'),
       (185, 3591., ' 2023-07-04'), (186, 8934., ' 2023-07-05'),
       (187, 1681., ' 2023-07-06'), (188, 3744., ' 2023-07-07'),
       (189, 8797., ' 2023-07-08'), (190,  815., ' 2023-07-09'),
       (191, 3308., ' 2023-07-10'), (192, 7087., ' 2023-07-11'),
       (193,  761., ' 2023-07-12'), (194, 5324., ' 2023-07-13'),
       (195, 6126., ' 2023-07-14'), (196, 3893., ' 2023-07-15'),
       (197, 2402., ' 2023-07-16'), (198, 6579., ' 2023-07-17'),
       (199, 7108., ' 2023-07-18'), (200, 7080., ' 2023-07-19'),
       (201, 1825., ' 2023-07-20'), (202, 4229., ' 2023-07-21'),
       (203,  611., ' 2023-07-22'), (204, 5285., ' 2023-07-23'),
       (205, 3887., ' 2023-07-24'), (206, 7411., ' 2023-07-25'),
       (207, 3642., ' 2023-07-26'), (208, 1350., ' 2023-07-27'),
       (209, 7030., ' 2023-07-28'), (210, 4744., ' 2023-07-29'),
       (211, 8764., ' 2023-07-30'), (212,  807., ' 2023-07-31'),
       (213, 6888., ' 2023-08-01'), (214, 5176., ' 2023-08-02'),
       (215, 1955., ' 2023-08-03'), (216, 1884., ' 2023-08-04'),
       (217, 5502., ' 2023-08-05'), (218, 8096., ' 2023-08-06'),
       (219, 8529., ' 2023-08-07'), (220, 6168., ' 2023-08-08'),
       (221, 4144., ' 2023-08-09'), (222, 6234., ' 2023-08-10'),
       (223, 6628., ' 2023-08-11'), (224, 3551., ' 2023-08-12'),
       (225, 4891., ' 2023-08-13'), (226,  879., ' 2023-08-14'),
       (227, 6758., ' 2023-08-15'), (228, 6329., ' 2023-08-16'),
       (229, 6929., ' 2023-08-17'), (230, 4166., ' 2023-08-18'),
       (231, 7410., ' 2023-08-19'), (232, 8862., ' 2023-08-20'),
       (233, 8864., ' 2023-08-21'), (234, 7105., ' 2023-08-22'),
       (235, 8312., ' 2023-08-23'), (236,  186., ' 2023-08-24'),
       (237, 6321., ' 2023-08-25'), (238, 7634., ' 2023-08-26'),
       (239, 8230., ' 2023-08-27'), (240, 1243., ' 2023-08-28'),
       (241, 4097., ' 2023-08-29'), (242, 5412., ' 2023-08-30'),
       (243, 1350., ' 2023-08-31'), (244, 6625., ' 2023-09-01'),
       (245, 6523., ' 2023-09-02'), (246, 1560., ' 2023-09-03'),
       (247, 4786., ' 2023-09-04'), (248, 4251., ' 2023-09-05'),
       (249, 3860., ' 2023-09-06'), (250, 9083., ' 2023-09-07'),
       (251, 2073., ' 2023-09-08'), (252,  142., ' 2023-09-09'),
       (253, 4081., ' 2023-09-10'), (254, 7356., ' 2023-09-11'),
       (255, 8113., ' 2023-09-12'), (256, 4795., ' 2023-09-13'),
       (257, 5599., ' 2023-09-14'), (258, 2304., ' 2023-09-15'),
       (259,  408., ' 2023-09-16'), (260, 5403., ' 2023-09-17'),
       (261, 4493., ' 2023-09-18'), (262, 8733., ' 2023-09-19'),
       (263,   11., ' 2023-09-20'), (264, 8412., ' 2023-09-21'),
       (265, 5794., ' 2023-09-22'), (266, 4013., ' 2023-09-23'),
       (267, 1055., ' 2023-09-24'), (268, 6373., ' 2023-09-25'),
       (269, 1027., ' 2023-09-26'), (270, 2482., ' 2023-09-27'),
       (271,  428., ' 2023-09-28'), (272, 5941., ' 2023-09-29'),
       (273, 4281., ' 2023-09-30'), (274, 1194., ' 2023-10-01'),
       (275, 4789., ' 2023-10-02'), (276,  491., ' 2023-10-03'),
       (277, 3183., ' 2023-10-04'), (278, 4770., ' 2023-10-05'),
       (279, 4186., ' 2023-10-06'), (280, 1186., ' 2023-10-07'),
       (281, 7613., ' 2023-10-08'), (282, 7203., ' 2023-10-09'),
       (283, 3789., ' 2023-10-10'), (284, 8111., ' 2023-10-11'),
       (285, 6817., ' 2023-10-12'), (286, 7689., ' 2023-10-13'),
       (287, 3124., ' 2023-10-14'), (288, 7334., ' 2023-10-15'),
       (289, 4559., ' 2023-10-16'), (290, 1768., ' 2023-10-17'),
       (291, 1165., ' 2023-10-18'), (292,  212., ' 2023-10-19'),
       (293,  709., ' 2023-10-20'), (294, 6834., ' 2023-10-21'),
       (295, 7451., ' 2023-10-22'), (296, 4623., ' 2023-10-23'),
       (297, 3134., ' 2023-10-24'), (298, 5142., ' 2023-10-25'),
       (299, 3112., ' 2023-10-26'), (300, 6373., ' 2023-10-27'),
       (301, 3063., ' 2023-10-28'), (302, 3194., ' 2023-10-29'),
       (303,  738., ' 2023-10-30'), (304, 8038., ' 2023-10-31'),
       (305, 4978., ' 2023-11-01'), (306, 6128., ' 2023-11-02'),
       (307, 2633., ' 2023-11-03'), (308, 9068., ' 2023-11-04'),
       (309,  178., ' 2023-11-05'), (310, 4977., ' 2023-11-06'),
       (311, 4903., ' 2023-11-07'), (312,  707., ' 2023-11-08'),
       (313, 8191., ' 2023-11-09'), (314, 6488., ' 2023-11-10'),
       (315, 7345., ' 2023-11-11'), (316, 4923., ' 2023-11-12'),
       (317, 1743., ' 2023-11-13'), (318, 4015., ' 2023-11-14'),
       (319, 5214., ' 2023-11-15'), (320, 5826., ' 2023-11-16'),
       (321, 3095., ' 2023-11-17'), (322,  517., ' 2023-11-18'),
       (323, 2705., ' 2023-11-19'), (324, 7841., ' 2023-11-20'),
       (325, 8444., ' 2023-11-21'), (326, 5823., ' 2023-11-22'),
       (327, 7767., ' 2023-11-23'), (328, 8575., ' 2023-11-24'),
       (329,  363., ' 2023-11-25'), (330, 5489., ' 2023-11-26'),
       (331, 2847., ' 2023-11-27'), (332, 5974., ' 2023-11-28'),
       (333, 6046., ' 2023-11-29'), (334, 4808., ' 2023-11-30'),
       (335,  125., ' 2023-12-01'), (336, 2187., ' 2023-12-02'),
       (337, 7316., ' 2023-12-03'), (338, 1632., ' 2023-12-04'),
       (339, 4727., ' 2023-12-05'), (340, 2510., ' 2023-12-06'),
       (341, 3277., ' 2023-12-07'), (342, 1939., ' 2023-12-08'),
       (343, 6630., ' 2023-12-09'), (344, 6864., ' 2023-12-10'),
       (345, 4477., ' 2023-12-11'), (346, 2739., ' 2023-12-12'),
       (347, 1537., ' 2023-12-13'), (348, 1924., ' 2023-12-14'),
       (349, 1066., ' 2023-12-15'), (350, 1126., ' 2023-12-16'),
       (351, 4612., ' 2023-12-17'), (352, 2811., ' 2023-12-18'),
       (353, 2814., ' 2023-12-19'), (354, 7269., ' 2023-12-20'),
       (355, 1141., ' 2023-12-21'), (356, 2151., ' 2023-12-22'),
       (357,  150., ' 2023-12-23'), (358, 1654., ' 2023-12-24'),
       (359, 1831., ' 2023-12-25'), (360, 1078., ' 2023-12-26'),
       (361, 7797., ' 2023-12-27'), (362, 6883., ' 2023-12-28'),
       (363, 3952., ' 2023-12-29'), (364, 5055., ' 2023-12-30'),
       (365, 2716., ' 2023-12-31')],
      dtype=[('f0', '<i4'), ('f1', '<f4'), ('f2', '<U20')])

In [8]:
np.genfromtxt(
    './records.csv',
    dtype='i4, f4, U20',
    delimiter=',',
    skip_header=10
)

array([( 11, 3421., ' 2023-01-11'), ( 12, 6451., ' 2023-01-12'),
       ( 13, 1440., ' 2023-01-13'), ( 14,  879., ' 2023-01-14'),
       ( 15, 3475., ' 2023-01-15'), ( 16, 3203., ' 2023-01-16'),
       ( 17, 5864., ' 2023-01-17'), ( 18, 3115., ' 2023-01-18'),
       ( 19,  808., ' 2023-01-19'), ( 20, 2958., ' 2023-01-20'),
       ( 21, 2422., ' 2023-01-21'), ( 22, 1813., ' 2023-01-22'),
       ( 23,  784., ' 2023-01-23'), ( 24,  401., ' 2023-01-24'),
       ( 25, 1955., ' 2023-01-25'), ( 26, 2702., ' 2023-01-26'),
       ( 27, 1361., ' 2023-01-27'), ( 28, 8280., ' 2023-01-28'),
       ( 29, 5444., ' 2023-01-29'), ( 30,  436., ' 2023-01-30'),
       ( 31,  467., ' 2023-01-31'), ( 32, 1911., ' 2023-02-01'),
       ( 33, 3226., ' 2023-02-02'), ( 34, 4184., ' 2023-02-03'),
       ( 35, 5155., ' 2023-02-04'), ( 36,  602., ' 2023-02-05'),
       ( 37, 8814., ' 2023-02-06'), ( 38,  640., ' 2023-02-07'),
       ( 39, 7994., ' 2023-02-08'), ( 40, 3710., ' 2023-02-09'),
       ( 41, 4340., ' 2023-02-10'), ( 42, 7008., ' 2023-02-11'),
       ( 43, 8192., ' 2023-02-12'), ( 44, 3409., ' 2023-02-13'),
       ( 45,  259., ' 2023-02-14'), ( 46, 1125., ' 2023-02-15'),
       ( 47, 7806., ' 2023-02-16'), ( 48, 4590., ' 2023-02-17'),
       ( 49, 5418., ' 2023-02-18'), ( 50, 8049., ' 2023-02-19'),
       ( 51, 1891., ' 2023-02-20'), ( 52, 5373., ' 2023-02-21'),
       ( 53,  435., ' 2023-02-22'), ( 54, 8311., ' 2023-02-23'),
       ( 55, 6554., ' 2023-02-24'), ( 56, 8313., ' 2023-02-25'),
       ( 57, 7835., ' 2023-02-26'), ( 58, 2727., ' 2023-02-27'),
       ( 59, 8133., ' 2023-02-28'), ( 60, 6543., ' 2023-03-01'),
       ( 61, 5370., ' 2023-03-02'), ( 62, 8246., ' 2023-03-03'),
       ( 63, 1642., ' 2023-03-04'), ( 64,  680., ' 2023-03-05'),
       ( 65, 8181., ' 2023-03-06'), ( 66, 3089., ' 2023-03-07'),
       ( 67, 2213., ' 2023-03-08'), ( 68, 6271., ' 2023-03-09'),
       ( 69, 4890., ' 2023-03-10'), ( 70, 1025., ' 2023-03-11'),
       ( 71, 4021., ' 2023-03-12'), ( 72, 5096., ' 2023-03-13'),
       ( 73, 3419., ' 2023-03-14'), ( 74, 6412., ' 2023-03-15'),
       ( 75, 2564., ' 2023-03-16'), ( 76, 6241., ' 2023-03-17'),
       ( 77, 4394., ' 2023-03-18'), ( 78, 6998., ' 2023-03-19'),
       ( 79, 9111., ' 2023-03-20'), ( 80, 3670., ' 2023-03-21'),
       ( 81, 8000., ' 2023-03-22'), ( 82, 4710., ' 2023-03-23'),
       ( 83, 8413., ' 2023-03-24'), ( 84, 4597., ' 2023-03-25'),
       ( 85, 8419., ' 2023-03-26'), ( 86, 2572., ' 2023-03-27'),
       ( 87, 1244., ' 2023-03-28'), ( 88,  311., ' 2023-03-29'),
       ( 89, 4917., ' 2023-03-30'), ( 90, 3292., ' 2023-03-31'),
       ( 91, 7518., ' 2023-04-01'), ( 92, 3045., ' 2023-04-02'),
       ( 93, 6719., ' 2023-04-03'), ( 94,  923., ' 2023-04-04'),
       ( 95, 3369., ' 2023-04-05'), ( 96, 2896., ' 2023-04-06'),
       ( 97,  314., ' 2023-04-07'), ( 98, 6783., ' 2023-04-08'),
       ( 99, 7318., ' 2023-04-09'), (100, 5732., ' 2023-04-10'),
       (101,  345., ' 2023-04-11'), (102, 5053., ' 2023-04-12'),
       (103, 4928., ' 2023-04-13'), (104, 2695., ' 2023-04-14'),
       (105, 2107., ' 2023-04-15'), (106, 1860., ' 2023-04-16'),
       (107, 8618., ' 2023-04-17'), (108, 5299., ' 2023-04-18'),
       (109, 2265., ' 2023-04-19'), (110, 9108., ' 2023-04-20'),
       (111, 5826., ' 2023-04-21'), (112, 4985., ' 2023-04-22'),
       (113, 4247., ' 2023-04-23'), (114, 5467., ' 2023-04-24'),
       (115, 1537., ' 2023-04-25'), (116, 1687., ' 2023-04-26'),
       (117, 1431., ' 2023-04-27'), (118,  290., ' 2023-04-28'),
       (119, 3980., ' 2023-04-29'), (120, 7284., ' 2023-04-30'),
       (121, 7309., ' 2023-05-01'), (122, 8940., ' 2023-05-02'),
       (123,   60., ' 2023-05-03'), (124, 6594., ' 2023-05-04'),
       (125, 1291., ' 2023-05-05'), (126,  881., ' 2023-05-06'),
       (127, 4002., ' 2023-05-07'), (128, 6068., ' 2023-05-08'),
       (129, 1591., ' 2023-05-09'), (130, 3047., ' 2023-05-10'),
       (131, 4879., ' 2023-05-11'), (132, 1824., ' 2023-05-12'),
       (133, 7045., ' 2023-05-13'), (134, 1447., ' 2023-05-14'),
       (135, 2848., ' 2023-05-15'), (136, 3274., ' 2023-05-16'),
       (137, 4954., ' 2023-05-17'), (138, 8589., ' 2023-05-18'),
       (139, 3348., ' 2023-05-19'), (140, 7047., ' 2023-05-20'),
       (141, 4742., ' 2023-05-21'), (142, 3563., ' 2023-05-22'),
       (143, 4909., ' 2023-05-23'), (144, 7935., ' 2023-05-24'),
       (145, 3869., ' 2023-05-25'), (146, 8634., ' 2023-05-26'),
       (147, 1292., ' 2023-05-27'), (148, 2370., ' 2023-05-28'),
       (149, 1539., ' 2023-05-29'), (150, 5191., ' 2023-05-30'),
       (151, 6911., ' 2023-05-31'), (152, 7782., ' 2023-06-01'),
       (153, 3763., ' 2023-06-02'), (154, 6024., ' 2023-06-03'),
       (155, 6457., ' 2023-06-04'), (156, 1619., ' 2023-06-05'),
       (157, 6975., ' 2023-06-06'), (158, 7602., ' 2023-06-07'),
       (159, 8829., ' 2023-06-08'), (160,   39., ' 2023-06-09'),
       (161, 3103., ' 2023-06-10'), (162, 3666., ' 2023-06-11'),
       (163, 3054., ' 2023-06-12'), (164, 5820., ' 2023-06-13'),
       (165, 8660., ' 2023-06-14'), (166, 6613., ' 2023-06-15'),
       (167,  445., ' 2023-06-16'), (168, 1118., ' 2023-06-17'),
       (169, 2308., ' 2023-06-18'), (170, 7713., ' 2023-06-19'),
       (171, 1191., ' 2023-06-20'), (172, 6308., ' 2023-06-21'),
       (173, 1877., ' 2023-06-22'), (174,  760., ' 2023-06-23'),
       (175, 5343., ' 2023-06-24'), (176, 8535., ' 2023-06-25'),
       (177,  990., ' 2023-06-26'), (178, 8728., ' 2023-06-27'),
       (179, 3883., ' 2023-06-28'), (180, 3972., ' 2023-06-29'),
       (181, 7380., ' 2023-06-30'), (182, 6874., ' 2023-07-01'),
       (183, 1074., ' 2023-07-02'), (184, 5099., ' 2023-07-03'),
       (185, 3591., ' 2023-07-04'), (186, 8934., ' 2023-07-05'),
       (187, 1681., ' 2023-07-06'), (188, 3744., ' 2023-07-07'),
       (189, 8797., ' 2023-07-08'), (190,  815., ' 2023-07-09'),
       (191, 3308., ' 2023-07-10'), (192, 7087., ' 2023-07-11'),
       (193,  761., ' 2023-07-12'), (194, 5324., ' 2023-07-13'),
       (195, 6126., ' 2023-07-14'), (196, 3893., ' 2023-07-15'),
       (197, 2402., ' 2023-07-16'), (198, 6579., ' 2023-07-17'),
       (199, 7108., ' 2023-07-18'), (200, 7080., ' 2023-07-19'),
       (201, 1825., ' 2023-07-20'), (202, 4229., ' 2023-07-21'),
       (203,  611., ' 2023-07-22'), (204, 5285., ' 2023-07-23'),
       (205, 3887., ' 2023-07-24'), (206, 7411., ' 2023-07-25'),
       (207, 3642., ' 2023-07-26'), (208, 1350., ' 2023-07-27'),
       (209, 7030., ' 2023-07-28'), (210, 4744., ' 2023-07-29'),
       (211, 8764., ' 2023-07-30'), (212,  807., ' 2023-07-31'),
       (213, 6888., ' 2023-08-01'), (214, 5176., ' 2023-08-02'),
       (215, 1955., ' 2023-08-03'), (216, 1884., ' 2023-08-04'),
       (217, 5502., ' 2023-08-05'), (218, 8096., ' 2023-08-06'),
       (219, 8529., ' 2023-08-07'), (220, 6168., ' 2023-08-08'),
       (221, 4144., ' 2023-08-09'), (222, 6234., ' 2023-08-10'),
       (223, 6628., ' 2023-08-11'), (224, 3551., ' 2023-08-12'),
       (225, 4891., ' 2023-08-13'), (226,  879., ' 2023-08-14'),
       (227, 6758., ' 2023-08-15'), (228, 6329., ' 2023-08-16'),
       (229, 6929., ' 2023-08-17'), (230, 4166., ' 2023-08-18'),
       (231, 7410., ' 2023-08-19'), (232, 8862., ' 2023-08-20'),
       (233, 8864., ' 2023-08-21'), (234, 7105., ' 2023-08-22'),
       (235, 8312., ' 2023-08-23'), (236,  186., ' 2023-08-24'),
       (237, 6321., ' 2023-08-25'), (238, 7634., ' 2023-08-26'),
       (239, 8230., ' 2023-08-27'), (240, 1243., ' 2023-08-28'),
       (241, 4097., ' 2023-08-29'), (242, 5412., ' 2023-08-30'),
       (243, 1350., ' 2023-08-31'), (244, 6625., ' 2023-09-01'),
       (245, 6523., ' 2023-09-02'), (246, 1560., ' 2023-09-03'),
       (247, 4786., ' 2023-09-04'), (248, 4251., ' 2023-09-05'),
       (249, 3860., ' 2023-09-06'), (250, 9083., ' 2023-09-07'),
       (251, 2073., ' 2023-09-08'), (252,  142., ' 2023-09-09'),
       (253, 4081., ' 2023-09-10'), (254, 7356., ' 2023-09-11'),
       (255, 8113., ' 2023-09-12'), (256, 4795., ' 2023-09-13'),
       (257, 5599., ' 2023-09-14'), (258, 2304., ' 2023-09-15'),
       (259,  408., ' 2023-09-16'), (260, 5403., ' 2023-09-17'),
       (261, 4493., ' 2023-09-18'), (262, 8733., ' 2023-09-19'),
       (263,   11., ' 2023-09-20'), (264, 8412., ' 2023-09-21'),
       (265, 5794., ' 2023-09-22'), (266, 4013., ' 2023-09-23'),
       (267, 1055., ' 2023-09-24'), (268, 6373., ' 2023-09-25'),
       (269, 1027., ' 2023-09-26'), (270, 2482., ' 2023-09-27'),
       (271,  428., ' 2023-09-28'), (272, 5941., ' 2023-09-29'),
       (273, 4281., ' 2023-09-30'), (274, 1194., ' 2023-10-01'),
       (275, 4789., ' 2023-10-02'), (276,  491., ' 2023-10-03'),
       (277, 3183., ' 2023-10-04'), (278, 4770., ' 2023-10-05'),
       (279, 4186., ' 2023-10-06'), (280, 1186., ' 2023-10-07'),
       (281, 7613., ' 2023-10-08'), (282, 7203., ' 2023-10-09'),
       (283, 3789., ' 2023-10-10'), (284, 8111., ' 2023-10-11'),
       (285, 6817., ' 2023-10-12'), (286, 7689., ' 2023-10-13'),
       (287, 3124., ' 2023-10-14'), (288, 7334., ' 2023-10-15'),
       (289, 4559., ' 2023-10-16'), (290, 1768., ' 2023-10-17'),
       (291, 1165., ' 2023-10-18'), (292,  212., ' 2023-10-19'),
       (293,  709., ' 2023-10-20'), (294, 6834., ' 2023-10-21'),
       (295, 7451., ' 2023-10-22'), (296, 4623., ' 2023-10-23'),
       (297, 3134., ' 2023-10-24'), (298, 5142., ' 2023-10-25'),
       (299, 3112., ' 2023-10-26'), (300, 6373., ' 2023-10-27'),
       (301, 3063., ' 2023-10-28'), (302, 3194., ' 2023-10-29'),
       (303,  738., ' 2023-10-30'), (304, 8038., ' 2023-10-31'),
       (305, 4978., ' 2023-11-01'), (306, 6128., ' 2023-11-02'),
       (307, 2633., ' 2023-11-03'), (308, 9068., ' 2023-11-04'),
       (309,  178., ' 2023-11-05'), (310, 4977., ' 2023-11-06'),
       (311, 4903., ' 2023-11-07'), (312,  707., ' 2023-11-08'),
       (313, 8191., ' 2023-11-09'), (314, 6488., ' 2023-11-10'),
       (315, 7345., ' 2023-11-11'), (316, 4923., ' 2023-11-12'),
       (317, 1743., ' 2023-11-13'), (318, 4015., ' 2023-11-14'),
       (319, 5214., ' 2023-11-15'), (320, 5826., ' 2023-11-16'),
       (321, 3095., ' 2023-11-17'), (322,  517., ' 2023-11-18'),
       (323, 2705., ' 2023-11-19'), (324, 7841., ' 2023-11-20'),
       (325, 8444., ' 2023-11-21'), (326, 5823., ' 2023-11-22'),
       (327, 7767., ' 2023-11-23'), (328, 8575., ' 2023-11-24'),
       (329,  363., ' 2023-11-25'), (330, 5489., ' 2023-11-26'),
       (331, 2847., ' 2023-11-27'), (332, 5974., ' 2023-11-28'),
       (333, 6046., ' 2023-11-29'), (334, 4808., ' 2023-11-30'),
       (335,  125., ' 2023-12-01'), (336, 2187., ' 2023-12-02'),
       (337, 7316., ' 2023-12-03'), (338, 1632., ' 2023-12-04'),
       (339, 4727., ' 2023-12-05'), (340, 2510., ' 2023-12-06'),
       (341, 3277., ' 2023-12-07'), (342, 1939., ' 2023-12-08'),
       (343, 6630., ' 2023-12-09'), (344, 6864., ' 2023-12-10'),
       (345, 4477., ' 2023-12-11'), (346, 2739., ' 2023-12-12'),
       (347, 1537., ' 2023-12-13'), (348, 1924., ' 2023-12-14'),
       (349, 1066., ' 2023-12-15'), (350, 1126., ' 2023-12-16'),
       (351, 4612., ' 2023-12-17'), (352, 2811., ' 2023-12-18'),
       (353, 2814., ' 2023-12-19'), (354, 7269., ' 2023-12-20'),
       (355, 1141., ' 2023-12-21'), (356, 2151., ' 2023-12-22'),
       (357,  150., ' 2023-12-23'), (358, 1654., ' 2023-12-24'),
       (359, 1831., ' 2023-12-25'), (360, 1078., ' 2023-12-26'),
       (361, 7797., ' 2023-12-27'), (362, 6883., ' 2023-12-28'),
       (363, 3952., ' 2023-12-29'), (364, 5055., ' 2023-12-30'),
       (365, 2716., ' 2023-12-31')],
      dtype=[('f0', '<i4'), ('f1', '<f4'), ('f2', '<U20')])

In [10]:
stda = np.genfromtxt(
    './records.csv',
    dtype='i4, f4, U20',
    delimiter=',',
    skip_header=10
)
stda.dtype.names = ('id', 'value', 'date')

In [12]:
stda['id']

array([ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,
        24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,
        37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,
        50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
        63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
        76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
        89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101,
       102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114,
       115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
       154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
       193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205,
       206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
       219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231,
       232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244,
       245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
       258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270,
       271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283,
       284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296,
       297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309,
       310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322,
       323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335,
       336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348,
       349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361,
       362, 363, 364, 365])

In [13]:
stda['date']

array([' 2023-01-11', ' 2023-01-12', ' 2023-01-13', ' 2023-01-14',
       ' 2023-01-15', ' 2023-01-16', ' 2023-01-17', ' 2023-01-18',
       ' 2023-01-19', ' 2023-01-20', ' 2023-01-21', ' 2023-01-22',
       ' 2023-01-23', ' 2023-01-24', ' 2023-01-25', ' 2023-01-26',
       ' 2023-01-27', ' 2023-01-28', ' 2023-01-29', ' 2023-01-30',
       ' 2023-01-31', ' 2023-02-01', ' 2023-02-02', ' 2023-02-03',
       ' 2023-02-04', ' 2023-02-05', ' 2023-02-06', ' 2023-02-07',
       ' 2023-02-08', ' 2023-02-09', ' 2023-02-10', ' 2023-02-11',
       ' 2023-02-12', ' 2023-02-13', ' 2023-02-14', ' 2023-02-15',
       ' 2023-02-16', ' 2023-02-17', ' 2023-02-18', ' 2023-02-19',
       ' 2023-02-20', ' 2023-02-21', ' 2023-02-22', ' 2023-02-23',
       ' 2023-02-24', ' 2023-02-25', ' 2023-02-26', ' 2023-02-27',
       ' 2023-02-28', ' 2023-03-01', ' 2023-03-02', ' 2023-03-03',
       ' 2023-03-04', ' 2023-03-05', ' 2023-03-06', ' 2023-03-07',
       ' 2023-03-08', ' 2023-03-09', ' 2023-03-10', ' 2023-03-11',
       ' 2023-03-12', ' 2023-03-13', ' 2023-03-14', ' 2023-03-15',
       ' 2023-03-16', ' 2023-03-17', ' 2023-03-18', ' 2023-03-19',
       ' 2023-03-20', ' 2023-03-21', ' 2023-03-22', ' 2023-03-23',
       ' 2023-03-24', ' 2023-03-25', ' 2023-03-26', ' 2023-03-27',
       ' 2023-03-28', ' 2023-03-29', ' 2023-03-30', ' 2023-03-31',
       ' 2023-04-01', ' 2023-04-02', ' 2023-04-03', ' 2023-04-04',
       ' 2023-04-05', ' 2023-04-06', ' 2023-04-07', ' 2023-04-08',
       ' 2023-04-09', ' 2023-04-10', ' 2023-04-11', ' 2023-04-12',
       ' 2023-04-13', ' 2023-04-14', ' 2023-04-15', ' 2023-04-16',
       ' 2023-04-17', ' 2023-04-18', ' 2023-04-19', ' 2023-04-20',
       ' 2023-04-21', ' 2023-04-22', ' 2023-04-23', ' 2023-04-24',
       ' 2023-04-25', ' 2023-04-26', ' 2023-04-27', ' 2023-04-28',
       ' 2023-04-29', ' 2023-04-30', ' 2023-05-01', ' 2023-05-02',
       ' 2023-05-03', ' 2023-05-04', ' 2023-05-05', ' 2023-05-06',
       ' 2023-05-07', ' 2023-05-08', ' 2023-05-09', ' 2023-05-10',
       ' 2023-05-11', ' 2023-05-12', ' 2023-05-13', ' 2023-05-14',
       ' 2023-05-15', ' 2023-05-16', ' 2023-05-17', ' 2023-05-18',
       ' 2023-05-19', ' 2023-05-20', ' 2023-05-21', ' 2023-05-22',
       ' 2023-05-23', ' 2023-05-24', ' 2023-05-25', ' 2023-05-26',
       ' 2023-05-27', ' 2023-05-28', ' 2023-05-29', ' 2023-05-30',
       ' 2023-05-31', ' 2023-06-01', ' 2023-06-02', ' 2023-06-03',
       ' 2023-06-04', ' 2023-06-05', ' 2023-06-06', ' 2023-06-07',
       ' 2023-06-08', ' 2023-06-09', ' 2023-06-10', ' 2023-06-11',
       ' 2023-06-12', ' 2023-06-13', ' 2023-06-14', ' 2023-06-15',
       ' 2023-06-16', ' 2023-06-17', ' 2023-06-18', ' 2023-06-19',
       ' 2023-06-20', ' 2023-06-21', ' 2023-06-22', ' 2023-06-23',
       ' 2023-06-24', ' 2023-06-25', ' 2023-06-26', ' 2023-06-27',
       ' 2023-06-28', ' 2023-06-29', ' 2023-06-30', ' 2023-07-01',
       ' 2023-07-02', ' 2023-07-03', ' 2023-07-04', ' 2023-07-05',
       ' 2023-07-06', ' 2023-07-07', ' 2023-07-08', ' 2023-07-09',
       ' 2023-07-10', ' 2023-07-11', ' 2023-07-12', ' 2023-07-13',
       ' 2023-07-14', ' 2023-07-15', ' 2023-07-16', ' 2023-07-17',
       ' 2023-07-18', ' 2023-07-19', ' 2023-07-20', ' 2023-07-21',
       ' 2023-07-22', ' 2023-07-23', ' 2023-07-24', ' 2023-07-25',
       ' 2023-07-26', ' 2023-07-27', ' 2023-07-28', ' 2023-07-29',
       ' 2023-07-30', ' 2023-07-31', ' 2023-08-01', ' 2023-08-02',
       ' 2023-08-03', ' 2023-08-04', ' 2023-08-05', ' 2023-08-06',
       ' 2023-08-07', ' 2023-08-08', ' 2023-08-09', ' 2023-08-10',
       ' 2023-08-11', ' 2023-08-12', ' 2023-08-13', ' 2023-08-14',
       ' 2023-08-15', ' 2023-08-16', ' 2023-08-17', ' 2023-08-18',
       ' 2023-08-19', ' 2023-08-20', ' 2023-08-21', ' 2023-08-22',
       ' 2023-08-23', ' 2023-08-24', ' 2023-08-25', ' 2023-08-26',
       ' 2023-08-27', ' 2023-08-28', ' 2023-08-29', ' 2023-08-30',
       ' 2023-08-31', ' 2023-09-01', ' 2023-09-02', ' 2023-09-03',
       ' 2023-09-04', ' 2023-09-05', ' 2023-09-06', ' 2023-09-07',
       ' 2023-09-08', ' 2023-09-09', ' 2023-09-10', ' 2023-09-11',
       ' 2023-09-12', ' 2023-09-13', ' 2023-09-14', ' 2023-09-15',
       ' 2023-09-16', ' 2023-09-17', ' 2023-09-18', ' 2023-09-19',
       ' 2023-09-20', ' 2023-09-21', ' 2023-09-22', ' 2023-09-23',
       ' 2023-09-24', ' 2023-09-25', ' 2023-09-26', ' 2023-09-27',
       ' 2023-09-28', ' 2023-09-29', ' 2023-09-30', ' 2023-10-01',
       ' 2023-10-02', ' 2023-10-03', ' 2023-10-04', ' 2023-10-05',
       ' 2023-10-06', ' 2023-10-07', ' 2023-10-08', ' 2023-10-09',
       ' 2023-10-10', ' 2023-10-11', ' 2023-10-12', ' 2023-10-13',
       ' 2023-10-14', ' 2023-10-15', ' 2023-10-16', ' 2023-10-17',
       ' 2023-10-18', ' 2023-10-19', ' 2023-10-20', ' 2023-10-21',
       ' 2023-10-22', ' 2023-10-23', ' 2023-10-24', ' 2023-10-25',
       ' 2023-10-26', ' 2023-10-27', ' 2023-10-28', ' 2023-10-29',
       ' 2023-10-30', ' 2023-10-31', ' 2023-11-01', ' 2023-11-02',
       ' 2023-11-03', ' 2023-11-04', ' 2023-11-05', ' 2023-11-06',
       ' 2023-11-07', ' 2023-11-08', ' 2023-11-09', ' 2023-11-10',
       ' 2023-11-11', ' 2023-11-12', ' 2023-11-13', ' 2023-11-14',
       ' 2023-11-15', ' 2023-11-16', ' 2023-11-17', ' 2023-11-18',
       ' 2023-11-19', ' 2023-11-20', ' 2023-11-21', ' 2023-11-22',
       ' 2023-11-23', ' 2023-11-24', ' 2023-11-25', ' 2023-11-26',
       ' 2023-11-27', ' 2023-11-28', ' 2023-11-29', ' 2023-11-30',
       ' 2023-12-01', ' 2023-12-02', ' 2023-12-03', ' 2023-12-04',
       ' 2023-12-05', ' 2023-12-06', ' 2023-12-07', ' 2023-12-08',
       ' 2023-12-09', ' 2023-12-10', ' 2023-12-11', ' 2023-12-12',
       ' 2023-12-13', ' 2023-12-14', ' 2023-12-15', ' 2023-12-16',
       ' 2023-12-17', ' 2023-12-18', ' 2023-12-19', ' 2023-12-20',
       ' 2023-12-21', ' 2023-12-22', ' 2023-12-23', ' 2023-12-24',
       ' 2023-12-25', ' 2023-12-26', ' 2023-12-27', ' 2023-12-28',
       ' 2023-12-29', ' 2023-12-30', ' 2023-12-31'], dtype='<U20')

In [15]:
import pickle
pickle.dump([1,2,3,4,5], open('f.bin', 'wb'))

In [16]:
pickle.dumps([1,2,3,4,5])

b'\x80\x04\x95\x0f\x00\x00\x00\x00\x00\x00\x00]\x94(K\x01K\x02K\x03K\x04K\x05e.'

In [17]:
pickle.load(open('f.bin', 'rb'))

[1, 2, 3, 4, 5]

In [18]:
pickle.loads

In [19]:
a = np.array([1,2,3,4])
np.save('myfile.npy', a)

In [20]:
np.load('myfile.npy')

array([1, 2, 3, 4])

In [21]:
np.save('myfile.npy', a, allow_pickle=False) # by default is False

In [22]:
np.savez(
    'f.npz',
    np.arange(10),
    np.arange(30, 40),
)

In [24]:
np.load('f.npz')

NpzFile 'f.npz' with keys: arr_0, arr_1

In [25]:
np.load('f.npz')['arr_0']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
np.savez(
    'f.npz',
    x=np.arange(10),
    y=np.arange(30, 40),
)

In [27]:
np.load('f.npz')['x']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [30]:
f,t = np.load('f.npz').values()
f, t

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([30, 31, 32, 33, 34, 35, 36, 37, 38, 39]))

In [1]:
# Linear Algebra

In [2]:
import numpy as np

In [3]:
np.matrix # 2 Dimensional ndarray

numpy.matrix

In [4]:
np.matrix( np.arange(9).reshape(3, 3) )

matrix([[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]])

In [6]:
np.mat( np.arange(9).reshape(3, 3) )

matrix([[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]])

In [7]:
np.mat('0,1,2; 3,4,5; 6,7,8')

matrix([[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]])

In [9]:
m = np.mat('0,1,2; 3,4,5; 6,7,8')
m * m # zarbe matrisi hast va ba zarbe ndarray ha fargh mikone

matrix([[ 15,  18,  21],
        [ 42,  54,  66],
        [ 69,  90, 111]])

In [10]:
# . (dot) zarbe matrisi ast

In [12]:
np.multiply(m, m) # zarbe be sorate narray na matrisi

matrix([[ 0,  1,  4],
        [ 9, 16, 25],
        [36, 49, 64]])

In [13]:
# @ ham zarbe matrisi ast

In [14]:
m @ m

matrix([[ 15,  18,  21],
        [ 42,  54,  66],
        [ 69,  90, 111]])

In [15]:
m * m

matrix([[ 15,  18,  21],
        [ 42,  54,  66],
        [ 69,  90, 111]])

In [16]:
np.dot(m,m)

matrix([[ 15,  18,  21],
        [ 42,  54,  66],
        [ 69,  90, 111]])

In [19]:
m

matrix([[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]])

In [20]:
m.I

LinAlgError: Singular matrix

In [23]:
# m.I # agar mesle yek seri bashe va beshe az ro ham hesab karedeshon masalan radife aval ro mishe az roye radife dovom va belaks hesab kard

np.matrix( np.random.random(9).reshape(3,3) )

matrix([[0.70053799, 0.98505773, 0.20190764],
        [0.35621783, 0.57978889, 0.17049653],
        [0.16899429, 0.13878801, 0.3128785 ]])

In [28]:
a = np.random.random(9).reshape(3, 3)
a

array([[4.16441290e-01, 1.45246942e-01, 1.03006216e-02],
       [3.59746128e-01, 7.57595390e-01, 2.92995586e-01],
       [3.72698340e-04, 7.47705163e-01, 1.72306727e-01]])

In [29]:
np.linalg.inv(a)

array([[ 2.05468583,  0.40207403, -0.80652949],
       [ 1.43601985, -1.6651778 ,  2.74567254],
       [-6.23588675,  7.22497729, -6.10918077]])

In [33]:
m.A1 # array shode mide flatten

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [34]:
m.A

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [35]:
np.vdot # vertcal dot

In [36]:
np.dot

In [37]:
np.outer # outer product

In [38]:
np.cross # do bordar -> yek bordar ke amode bar jofteshon

In [39]:
np.linalg.det # determinan

In [41]:
np.linalg.det(m)

0.0

In [42]:
np.linalg.det(a)

-0.04308957071148012

In [43]:
np.linalg.solve

In [46]:
np.linalg.eig # maghadire vizhe

In [48]:
np.linalg.svd(m)

SVDResult(U=matrix([[-0.13511895,  0.90281571,  0.40824829],
        [-0.49633514,  0.29493179, -0.81649658],
        [-0.85755134, -0.31295213,  0.40824829]]), S=array([1.42267074e+01, 1.26522599e+00, 5.89938022e-16]), Vh=matrix([[-0.4663281 , -0.57099079, -0.67565348],
        [-0.78477477, -0.08545673,  0.61386131],
        [-0.40824829,  0.81649658, -0.40824829]]))

In [49]:
np.allclose

In [50]:
np.linalg.qr

In [51]:
np.linalg.inv

In [52]:
np.poly # chand jomle ey

In [54]:
np.roots # rishe haye ye moadeleye chand jomle ey ro mide

In [55]:
np.roots([-50, 24]) # -50x + 24 -> x=24/50=12/25

array([0.48])

In [56]:
np.polyval # mohasebeye x

In [58]:
np.polyval([3, -5], 90) # 3x -5 = 90 -> x=265

265

In [60]:
np.polyint # integral

In [61]:
np.polyder # derevitive

In [63]:
print(np.fft.__doc__) # Fourier Transform

Discrete Fourier Transform (:mod:`numpy.fft`)
=============================================

.. currentmodule:: numpy.fft

The SciPy module `scipy.fft` is a more comprehensive superset
of ``numpy.fft``, which includes only a basic set of routines.

Standard FFTs
-------------

.. autosummary::
   :toctree: generated/

   fft       Discrete Fourier transform.
   ifft      Inverse discrete Fourier transform.
   fft2      Discrete Fourier transform in two dimensions.
   ifft2     Inverse discrete Fourier transform in two dimensions.
   fftn      Discrete Fourier transform in N-dimensions.
   ifftn     Inverse discrete Fourier transform in N dimensions.

Real FFTs
---------

.. autosummary::
   :toctree: generated/

   rfft      Real discrete Fourier transform.
   irfft     Inverse real discrete Fourier transform.
   rfft2     Real discrete Fourier transform in two dimensions.
   irfft2    Inverse real discrete Fourier transform in two dimensions.
   rfftn     Real discrete Fourier transform in N dimensions.
   irfftn    Inverse real discrete Fourier transform in N dimensions.

Hermitian FFTs
--------------

.. autosummary::
   :toctree: generated/

   hfft      Hermitian discrete Fourier transform.
   ihfft     Inverse Hermitian discrete Fourier transform.

Helper routines
---------------

.. autosummary::
   :toctree: generated/

   fftfreq   Discrete Fourier Transform sample frequencies.
   rfftfreq  DFT sample frequencies (for usage with rfft, irfft).
   fftshift  Shift zero-frequency component to center of spectrum.
   ifftshift Inverse of fftshift.


Background information
----------------------

Fourier analysis is fundamentally a method for expressing a function as a
sum of periodic components, and for recovering the function from those
components.  When both the function and its Fourier transform are
replaced with discretized counterparts, it is called the discrete Fourier
transform (DFT).  The DFT has become a mainstay of numerical computing in
part because of a very fast algorithm for computing it, called the Fast
Fourier Transform (FFT), which was known to Gauss (1805) and was brought
to light in its current form by Cooley and Tukey [CT]_.  Press et al. [NR]_
provide an accessible introduction to Fourier analysis and its
applications.

Because the discrete Fourier transform separates its input into
components that contribute at discrete frequencies, it has a great number
of applications in digital signal processing, e.g., for filtering, and in
this context the discretized input to the transform is customarily
referred to as a *signal*, which exists in the *time domain*.  The output
is called a *spectrum* or *transform* and exists in the *frequency
domain*.

Implementation details
----------------------

There are many ways to define the DFT, varying in the sign of the
exponent, normalization, etc.  In this implementation, the DFT is defined
as

.. math::
   A_k =  \sum_{m=0}^{n-1} a_m \exp\left\{-2\pi i{mk \over n}\right\}
   \qquad k = 0,\ldots,n-1.

The DFT is in general defined for complex inputs and outputs, and a
single-frequency component at linear frequency :math:`f` is
represented by a complex exponential
:math:`a_m = \exp\{2\pi i\,f m\Delta t\}`, where :math:`\Delta t`
is the sampling interval.

The values in the result follow so-called "standard" order: If ``A =
fft(a, n)``, then ``A[0]`` contains the zero-frequency term (the sum of
the signal), which is always purely real for real inputs. Then ``A[1:n/2]``
contains the positive-frequency terms, and ``A[n/2+1:]`` contains the
negative-frequency terms, in order of decreasingly negative frequency.
For an even number of input points, ``A[n/2]`` represents both positive and
negative Nyquist frequency, and is also purely real for real input.  For
an odd number of input points, ``A[(n-1)/2]`` contains the largest positive
frequency, while ``A[(n+1)/2]`` contains the largest negative frequency.
The routine ``np.fft.fftfreq(n)`` returns an array giving the frequencies
of corresponding elements in the output.  The routine
``np.fft.fftshift(A)`` shifts transforms and their frequencies to put the
zero-frequency components in the middle, and ``np.fft.ifftshift(A)`` undoes
that shift.

When the input `a` is a time-domain signal and ``A = fft(a)``, ``np.abs(A)``
is its amplitude spectrum and ``np.abs(A)**2`` is its power spectrum.
The phase spectrum is obtained by ``np.angle(A)``.

The inverse DFT is defined as

.. math::
   a_m = \frac{1}{n}\sum_{k=0}^{n-1}A_k\exp\left\{2\pi i{mk\over n}\right\}
   \qquad m = 0,\ldots,n-1.

It differs from the forward transform by the sign of the exponential
argument and the default normalization by :math:`1/n`.

Type Promotion
--------------

`numpy.fft` promotes ``float32`` and ``complex64`` arrays to ``float64`` and
``complex128`` arrays respectively. For an FFT implementation that does not
promote input arrays, see `scipy.fftpack`.

Normalization
-------------

The argument ``norm`` indicates which direction of the pair of direct/inverse
transforms is scaled and with what normalization factor.
The default normalization (``"backward"``) has the direct (forward) transforms
unscaled and the inverse (backward) transforms scaled by :math:`1/n`. It is
possible to obtain unitary transforms by setting the keyword argument ``norm``
to ``"ortho"`` so that both direct and inverse transforms are scaled by
:math:`1/\sqrt{n}`. Finally, setting the keyword argument ``norm`` to
``"forward"`` has the direct transforms scaled by :math:`1/n` and the inverse
transforms unscaled (i.e. exactly opposite to the default ``"backward"``).
`None` is an alias of the default option ``"backward"`` for backward
compatibility.

Real and Hermitian transforms
-----------------------------

When the input is purely real, its transform is Hermitian, i.e., the
component at frequency :math:`f_k` is the complex conjugate of the
component at frequency :math:`-f_k`, which means that for real
inputs there is no information in the negative frequency components that
is not already available from the positive frequency components.
The family of `rfft` functions is
designed to operate on real inputs, and exploits this symmetry by
computing only the positive frequency components, up to and including the
Nyquist frequency.  Thus, ``n`` input points produce ``n/2+1`` complex
output points.  The inverses of this family assumes the same symmetry of
its input, and for an output of ``n`` points uses ``n/2+1`` input points.

Correspondingly, when the spectrum is purely real, the signal is
Hermitian.  The `hfft` family of functions exploits this symmetry by
using ``n/2+1`` complex points in the input (time) domain for ``n`` real
points in the frequency domain.

In higher dimensions, FFTs are used, e.g., for image analysis and
filtering.  The computational efficiency of the FFT means that it can
also be a faster way to compute large convolutions, using the property
that a convolution in the time domain is equivalent to a point-by-point
multiplication in the frequency domain.

Higher dimensions
-----------------

In two dimensions, the DFT is defined as

.. math::
   A_{kl} =  \sum_{m=0}^{M-1} \sum_{n=0}^{N-1}
   a_{mn}\exp\left\{-2\pi i \left({mk\over M}+{nl\over N}\right)\right\}
   \qquad k = 0, \ldots, M-1;\quad l = 0, \ldots, N-1,

which extends in the obvious way to higher dimensions, and the inverses
in higher dimensions also extend in the same way.

References
----------

.. [CT] Cooley, James W., and John W. Tukey, 1965, "An algorithm for the
        machine calculation of complex Fourier series," *Math. Comput.*
        19: 297-301.

.. [NR] Press, W., Teukolsky, S., Vetterline, W.T., and Flannery, B.P.,
        2007, *Numerical Recipes: The Art of Scientific Computing*, ch.
        12-13.  Cambridge Univ. Press, Cambridge, UK.

Examples
--------

For examples, see the various functions.