In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(['a','ss','wew','sdasdsd'], dtype='string')
s

0          a
1         ss
2        wew
3    sdasdsd
dtype: string

In [3]:
s.str.lower()

0          a
1         ss
2        wew
3    sdasdsd
dtype: string

In [4]:
s.str.split('')

0                      [, a, ]
1                   [, s, s, ]
2                [, w, e, w, ]
3    [, s, d, a, s, d, s, d, ]
dtype: object

In [5]:
s.str.split(' ')

0          [a]
1         [ss]
2        [wew]
3    [sdasdsd]
dtype: object

In [6]:
s.apply(lambda x: x.strip())

0          a
1         ss
2        wew
3    sdasdsd
dtype: object

In [7]:
s.apply(lambda x: x.strip()).str.get(0)

0    a
1    s
2    w
3    s
dtype: object

In [8]:
s.str.split(' ', expand=True)

         0
0        a
1       ss
2      wew
3  sdasdsd

In [9]:
s.str.split('', expand=True)

  0  1  2     3     4     5     6     7     8
0    a     <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
1    s  s        <NA>  <NA>  <NA>  <NA>  <NA>
2    w  e     w        <NA>  <NA>  <NA>  <NA>
3    s  d     a     s     d     s     d

In [10]:
dir(s.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [11]:
s.str.split('\w+', expand=True) # Regex is Acceptable

  0 1
0
1
2
3

In [12]:
s.str.split('.', expand=True)

         0
0        a
1       ss
2      wew
3  sdasdsd

In [13]:
s.str.split('.+.+', expand=True)

   0     1
0  a  <NA>
1
2
3

In [14]:
s.str.split(r'[adcb]+', expand=True)

     0     1     2     3
0             <NA>  <NA>
1   ss  <NA>  <NA>  <NA>
2  wew  <NA>  <NA>  <NA>
3    s     s     s