In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.rand(3, 3))

In [3]:
df

          0         1         2
0  0.892726  0.511452  0.858658
1  0.040887  0.135125  0.811162
2  0.802744  0.699881  0.601225

In [4]:
df2 = df.reindex(index=[1, 0, 2])

In [5]:
df2

          0         1         2
1  0.040887  0.135125  0.811162
0  0.892726  0.511452  0.858658
2  0.802744  0.699881  0.601225

In [6]:
df2.sort_index()

          0         1         2
0  0.892726  0.511452  0.858658
1  0.040887  0.135125  0.811162
2  0.802744  0.699881  0.601225

In [7]:
df2.sort_index(ascending=False)

          0         1         2
2  0.802744  0.699881  0.601225
1  0.040887  0.135125  0.811162
0  0.892726  0.511452  0.858658

In [9]:
df2.sort_index(axis=1)

          0         1         2
1  0.040887  0.135125  0.811162
0  0.892726  0.511452  0.858658
2  0.802744  0.699881  0.601225

In [10]:
df2[0].sort_index()

0    0.892726
1    0.040887
2    0.802744
Name: 0, dtype: float64

In [14]:
df2.sort_index(level=1) # For multi indexing

          0         1         2
0  0.892726  0.511452  0.858658
1  0.040887  0.135125  0.811162
2  0.802744  0.699881  0.601225

In [15]:
sorted(['D', 'E', 'a'])

['D', 'E', 'a']

In [16]:
sorted(['D', 'E', 'a'], key=lambda x: x.lower())

['a', 'D', 'E']

In [17]:
df2

          0         1         2
1  0.040887  0.135125  0.811162
0  0.892726  0.511452  0.858658
2  0.802744  0.699881  0.601225

In [18]:
df2.index = ['E', 'a', 'B']
df2

          0         1         2
E  0.040887  0.135125  0.811162
a  0.892726  0.511452  0.858658
B  0.802744  0.699881  0.601225

In [20]:
df2.sort_index(key=lambda x: x.str.lower())

          0         1         2
a  0.892726  0.511452  0.858658
B  0.802744  0.699881  0.601225
E  0.040887  0.135125  0.811162

In [21]:
df.sort_values()

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [23]:
df[0].sort_values()

1    0.040887
2    0.802744
0    0.892726
Name: 0, dtype: float64

In [28]:
df.sort_values(by=0)

          0         1         2
1  0.040887  0.135125  0.811162
2  0.802744  0.699881  0.601225
0  0.892726  0.511452  0.858658

In [29]:
df.sort_values(by=1)

          0         1         2
1  0.040887  0.135125  0.811162
0  0.892726  0.511452  0.858658
2  0.802744  0.699881  0.601225

In [30]:
df.sort_values(by=[0,1,2])

          0         1         2
1  0.040887  0.135125  0.811162
2  0.802744  0.699881  0.601225
0  0.892726  0.511452  0.858658

In [33]:
# searchsorted
s = pd.Series([0,1,2])
s.searchsorted([-99, 20])

array([0, 3], dtype=int64)

In [34]:
# it says in indexes 0 and 3 you can put those numbers -99 and 20 and your list/series still will be sorted

In [40]:
s = pd.Series(np.random.permutation(10))
s

0    7
1    1
2    6
3    8
4    9
5    3
6    5
7    2
8    4
9    0
dtype: int32

In [41]:
s.nsmallest(3)

9    0
1    1
7    2
dtype: int32

In [42]:
s.nlargest(2)

4    9
3    8
dtype: int32

In [43]:
# EDA = Explorary Data Analysis

In [46]:
s.sort_values().head(3)

9    0
1    1
7    2
dtype: int32

In [47]:
s.sort_values(ascending=False).head(3)

4    9
3    8
0    7
dtype: int32

In [48]:
df.nlargest(2, [0, 1])

          0         1         2
0  0.892726  0.511452  0.858658
2  0.802744  0.699881  0.601225

In [49]:
df.nlargest(3, [0])

          0         1         2
0  0.892726  0.511452  0.858658
2  0.802744  0.699881  0.601225
1  0.040887  0.135125  0.811162