In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(
    {
        'one': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
        'two': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
        'three': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
    }
)
df

        one       two     three
a  0.897530 -0.358564 -0.019595
b  0.267653  1.017502 -1.236751
c  1.071387 -1.456712  0.906018

In [8]:
df.mean()

one      0.745523
two     -0.265925
three   -0.116776
dtype: float64

In [9]:
df.mean(axis=1)

a    0.173123
b    0.016135
c    0.173564
dtype: float64

In [10]:
df.mode(axis='columns')

          0         1         2
a -0.358564 -0.019595  0.897530
b -1.236751  0.267653  1.017502
c -1.456712  0.906018  1.071387

In [11]:
df.mode()

        one       two     three
0  0.267653 -1.456712 -1.236751
1  0.897530 -0.358564 -0.019595
2  1.071387  1.017502  0.906018

In [12]:
df.median(axis='columns')

a   -0.019595
b    0.267653
c    0.906018
dtype: float64

In [13]:
df.mean()

one      0.745523
two     -0.265925
three   -0.116776
dtype: float64

In [14]:
df.mean(axis=0)

one      0.745523
two     -0.265925
three   -0.116776
dtype: float64

In [15]:
df.mean(axis=1)

a    0.173123
b    0.016135
c    0.173564
dtype: float64

In [16]:
df.mean(skipna=False)

one      0.745523
two     -0.265925
three   -0.116776
dtype: float64

In [17]:
df.sum()

one      2.236570
two     -0.797775
three   -0.350328
dtype: float64

In [18]:
# z-score = (raw-score - mean) / std

In [20]:
df

        one       two     three
a  0.897530 -0.358564 -0.019595
b  0.267653  1.017502 -1.236751
c  1.071387 -1.456712  0.906018

In [21]:
df.mean()

one      0.745523
two     -0.265925
three   -0.116776
dtype: float64

In [22]:
df - df.mean()

        one       two     three
a  0.152006 -0.092639  0.097181
b -0.477870  1.283427 -1.119975
c  0.325864 -1.190788  1.022794

In [23]:
df.std()

one      0.422879
two      1.239706
three    1.074685
dtype: float64

In [24]:
(df - df.mean()) / df.std()

        one       two     three
a  0.359456 -0.074727  0.090428
b -1.130040  1.035267 -1.042143
c  0.770584 -0.960540  0.951715

In [26]:
df.sub(df.mean(axis=1), axis=0).div(df.std(1), axis=0) # radifi, on rows

        one       two     three
a  1.114737 -0.818177 -0.296561
b  0.219096  0.872286 -1.091382
c  0.634827 -1.152725  0.517898

In [28]:
df.cumsum() # tajamoee

        one       two     three
a  0.897530 -0.358564 -0.019595
b  1.165183  0.658938 -1.256346
c  2.236570 -0.797775 -0.350328

In [29]:
df.abs()

        one       two     three
a  0.897530  0.358564  0.019595
b  0.267653  1.017502  1.236751
c  1.071387  1.456712  0.906018

In [30]:
df.prod()

one      0.257376
two      0.531467
three    0.021956
dtype: float64

In [31]:
df.quantile()

one      0.897530
two     -0.358564
three   -0.019595
Name: 0.5, dtype: float64

In [33]:
df['one'].unique()

array([0.89752967, 0.26765295, 1.07138718])

In [34]:
df.nunique()

one      3
two      3
three    3
dtype: int64

In [35]:
df.nunique().sum()

9

In [36]:
df.describe()

            one       two     three
count  3.000000  3.000000  3.000000
mean   0.745523 -0.265925 -0.116776
std    0.422879  1.239706  1.074685
min    0.267653 -1.456712 -1.236751
25%    0.582591 -0.907638 -0.628173
50%    0.897530 -0.358564 -0.019595
75%    0.984458  0.329469  0.443211
max    1.071387  1.017502  0.906018

In [37]:
df['one'].describe()

count    3.000000
mean     0.745523
std      0.422879
min      0.267653
25%      0.582591
50%      0.897530
75%      0.984458
max      1.071387
Name: one, dtype: float64

In [40]:
df.describe(include=['object']) # only objects not numbers

ValueError: No objects to concatenate

In [41]:
df.describe(include=['number']) # only numbers not objects

            one       two     three
count  3.000000  3.000000  3.000000
mean   0.745523 -0.265925 -0.116776
std    0.422879  1.239706  1.074685
min    0.267653 -1.456712 -1.236751
25%    0.582591 -0.907638 -0.628173
50%    0.897530 -0.358564 -0.019595
75%    0.984458  0.329469  0.443211
max    1.071387  1.017502  0.906018

In [43]:
df.describe(include='all')

            one       two     three
count  3.000000  3.000000  3.000000
mean   0.745523 -0.265925 -0.116776
std    0.422879  1.239706  1.074685
min    0.267653 -1.456712 -1.236751
25%    0.582591 -0.907638 -0.628173
50%    0.897530 -0.358564 -0.019595
75%    0.984458  0.329469  0.443211
max    1.071387  1.017502  0.906018

In [44]:
df.describe(percentiles=[0.1, 0.6, 0.9, 0.99])

            one       two     three
count  3.000000  3.000000  3.000000
mean   0.745523 -0.265925 -0.116776
std    0.422879  1.239706  1.074685
min    0.267653 -1.456712 -1.236751
10%    0.393628 -1.237083 -0.993320
50%    0.897530 -0.358564 -0.019595
60%    0.932301 -0.083351  0.165528
90%    1.036616  0.742289  0.720895
99%    1.067910  0.989981  0.887505
max    1.071387  1.017502  0.906018

In [45]:
n = np.random.randint(0, 10, 20)
n

array([8, 1, 6, 7, 2, 5, 0, 9, 7, 5, 2, 1, 1, 8, 1, 1, 3, 2, 1, 3])

In [46]:
n.max()

9

In [47]:
n.argmax() # index of max item

7

In [50]:
s = pd.Series(np.random.randn(10))
s

0    1.172117
1    1.520832
2    1.443009
3    0.296657
4    1.262431
5    0.687414
6   -1.708802
7   -1.466807
8   -0.668909
9   -1.038935
dtype: float64

In [51]:
s.max()

1.5208315113009219

In [53]:
df.max()

one      1.071387
two      1.017502
three    0.906018
dtype: float64

In [56]:
df.idxmax()

one      c
two      b
three    c
dtype: object

In [57]:
s.idxmax()

1

In [58]:
s.nunique()

10

In [60]:
s.value_counts()

 1.172117    1
 1.520832    1
 1.443009    1
 0.296657    1
 1.262431    1
 0.687414    1
-1.708802    1
-1.466807    1
-0.668909    1
-1.038935    1
Name: count, dtype: int64

In [61]:
df.value_counts()

one       two        three
0.267653   1.017502  -1.236751    1
0.897530  -0.358564  -0.019595    1
1.071387  -1.456712   0.906018    1
Name: count, dtype: int64

In [63]:
pd.cut(df['one'], 3)

a    (0.803, 1.071]
b    (0.267, 0.536]
c    (0.803, 1.071]
Name: one, dtype: category
Categories (3, interval[float64, right]): [(0.267, 0.536] < (0.536, 0.803] < (0.803, 1.071]]

In [64]:
pd.cut([1,2,3,4,5,6,7,8,9,0,0,9,8,7,6,5,4,3], 3)

[(-0.009, 3.0], (-0.009, 3.0], (-0.009, 3.0], (3.0, 6.0], (3.0, 6.0], ..., (6.0, 9.0], (3.0, 6.0], (3.0, 6.0], (3.0, 6.0], (-0.009, 3.0]]
Length: 18
Categories (3, interval[float64, right]): [(-0.009, 3.0] < (3.0, 6.0] < (6.0, 9.0]]

In [65]:
pd.cut([1,2,3,4,5,6,7,8,9,0,0,9,8,7,6,5,4,3], 3, labels=['a', 'b', 's'])

['a', 'a', 'a', 'b', 'b', ..., 's', 'b', 'b', 'b', 'a']
Length: 18
Categories (3, object): ['a' < 'b' < 's']

In [68]:
pd.cut([1,7,6,5,4,3], [-90, 1, 50])

[(-90, 1], (1, 50], (1, 50], (1, 50], (1, 50], (1, 50]]
Categories (2, interval[int64, right]): [(-90, 1] < (1, 50]]

In [71]:
pd.qcut([1,2,3,7,1,9,0,3,2,1,40,4,5,8,3,2,5,7], [0.1, 0.5, 0.6, 0.9])

[(0.999, 3.0], (0.999, 3.0], (0.999, 3.0], (4.2, 8.3], (0.999, 3.0], ..., (4.2, 8.3], (0.999, 3.0], (0.999, 3.0], (4.2, 8.3], (4.2, 8.3]]
Length: 18
Categories (3, interval[float64, right]): [(0.999, 3.0] < (3.0, 4.2] < (4.2, 8.3]]

In [73]:
s.quantile(0.25)

-0.9464283541923331

In [76]:
pd.cut(
    [0,4,6,7,8,1,2,3,4,0,9,4,5,6,7,8,9,9,9,1,1],
    [0,3,6,9],
    labels=['A', 'B', 'A'],
    ordered=False
)

[NaN, 'B', 'B', 'A', 'A', ..., 'A', 'A', 'A', 'A', 'A']
Length: 21
Categories (2, object): ['A', 'B']