In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
df = pd.DataFrame(np.random.rand(3, 3))
df

          0         1         2
0  0.880410  0.927866  0.347951
1  0.477333  0.177032  0.075555
2  0.175534  0.062243  0.751073

In [9]:
for i in df:
    print(i) # columns

0
1
2

In [11]:
for i in df:
    for j in df[i]:
        print(j) # cells

0.8804097203469865
0.4773326504124761
0.175534336327553
0.927865750289025
0.17703151856004107
0.06224331684291595
0.3479509474707042
0.07555529016880314
0.7510728151721859

In [18]:
df = pd.DataFrame({
    'one': [1,2,3],
    'two': [4,5,6],
    'three': [45,56,62],
})
f

   one  two  three
0    1    4     45
1    2    5     56
2    3    6     62

In [19]:
for index, row in df.iterrows():
    print(index)
    print(row)
    print('=')

0
one       1
two       4
three    45
Name: 0, dtype: int64
=
1
one       2
two       5
three    56
Name: 1, dtype: int64
=
2
one       3
two       6
three    62
Name: 2, dtype: int64
=

In [21]:
for column, serie in df.items():
    print(column)
    print(serie)
    print('=')

one
0    1
1    2
2    3
Name: one, dtype: int64
=
two
0    4
1    5
2    6
Name: two, dtype: int64
=
three
0    45
1    56
2    62
Name: three, dtype: int64
=

In [24]:
for index, row in df.iterrows():
    print(index)
    print(row)
    print('=')

0
one       1
two       4
three    45
Name: 0, dtype: int64
=
1
one       2
two       5
three    56
Name: 1, dtype: int64
=
2
one       3
two       6
three    62
Name: 2, dtype: int64
=

In [26]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, one=1, two=4, three=45)
Pandas(Index=1, one=2, two=5, three=56)
Pandas(Index=2, one=3, two=6, three=62)

In [28]:
for row in df.itertuples():
    print(row.one)

1
2
3

In [29]:
for row in df.itertuples():
    print(row.Index)

0
1
2

In [30]:
for row in df.itertuples():
    print(row.three)

45
56
62